.terminal {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--color-body-background);
  color: var(--color-body-text);
}

.body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  position: relative;
}

.tabContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
  position: relative;
}

.chatContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Split view layout for plan mode */
.splitContainer {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.leftPane {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  position: relative;
  overflow: hidden;
}

.rightPane {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  overflow: hidden;
}