.container {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  min-height: 0;
  overflow: hidden;
}

/* Orientation */
.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

/* Panes */
.pane {
  position: relative; /* Establish containing block for absolute children */
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.flexible {
  flex: 1;
  min-width: 0;
  min-height: 0;
}
