.container {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

/* Orientation */
.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

/* Panes */
.pane {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.flexible {
  flex: 1;
  min-width: 0;
  min-height: 0;
}
