.notice {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-small10);
  padding: var(--spacing-small10) var(--spacing);
  background: var(--color-warning-backgroundSoft);
  border-radius: var(--radius-card);
  border: 1px solid var(--color-warning-border);
}

.icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  color: var(--color-warning-text);
}

.text {
  color: var(--color-warning-text);
}
