/* Generated theme: Arctic (dark mode) */
/* Generated: 2025-07-25T23:32:55.229Z */
/* WCAG AA compliant */

@import '../styles.css';

[data-theme="arctic"][data-theme-type="dark"] {
  /* Surface tokens */
  --color-body-background: hsl(220, 15%, 6%);
  --color-body-text: #7b7b7b;
  --color-body-border: #3b3f44;
  --color-body-link: #68bce3;
  --color-body-icon: #a0a5ac;
  --color-body-link-visited: #68bce3;
  --color-body-text-soft10: #707071;
  --color-body-background-soft10: #181b21;
  --color-body-border-soft10: #363a3f;
  --color-body-text-soft20: #656566;
  --color-body-background-soft20: #22272f;
  --color-body-border-soft20: #32353a;
  --color-body-text-soft30: #5a5b5c;
  --color-body-background-soft30: #2d343e;
  --color-body-border-soft30: #2d3135;
  --color-body-text-soft40: #4f5051;
  --color-body-background-soft40: #38404d;
  --color-body-border-soft40: #292c30;
  --color-body-text-hard10: #878787;
  --color-body-background-hard10: #020203;
  --color-body-border-hard10: #474c52;
  --color-body-text-hard20: #949494;
  --color-body-background-hard20: #000000;
  --color-body-border-hard20: #53595f;
  --color-body-link-hover: #75c2e6;
  --color-body-link-active: #7ec6e7;
  --color-body-link-focus: #68bce3;
  --color-body-link-disabled: rgba(104, 188, 227, 0.5);
  --color-body-background-hover: #13161b;
  --color-body-background-active: #171b21;
  --color-body-background-focus: hsl(220, 15%, 6%);
  --color-body-background-disabled: rgba(13, 15, 18, 0.5);
  --color-body-text-hover: #7e7e7e;
  --color-body-text-active: #828282;
  --color-body-text-focus: #7b7b7b;
  --color-body-text-disabled: rgba(123, 123, 123, 0.5);
  --color-body-border-hover: #3b3f44;
  --color-body-border-active: #3b3f44;
  --color-body-border-focus: #3b3f44;
  --color-body-border-disabled: rgba(59, 63, 68, 0.5);
  --color-body-icon-hover: #a0a5ac;
  --color-body-icon-active: #a0a5ac;
  --color-body-icon-focus: #a0a5ac;
  --color-body-icon-disabled: rgba(160, 165, 172, 0.5);
  --color-body-icon-soft20: #83878d;
  --color-body-link-visited-hover: #75c2e6;
  --color-body-link-visited-active: #7ec6e7;
  --color-body-link-visited-focus: #68bce3;

  --color-panel-background: hsl(0, 0%, 0%);
  --color-panel-text: #7b7b7b;
  --color-panel-border: #3b3f44;
  --color-panel-link: #68bce3;
  --color-panel-icon: #a0a5ac;
  --color-panel-link-visited: #68bce3;
  --color-panel-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  --color-panel-text-soft10: #6f6f6f;
  --color-panel-background-soft10: #0d0d0d;
  --color-panel-border-soft10: #35393d;
  --color-panel-text-soft20: #626262;
  --color-panel-background-soft20: #1a1a1a;
  --color-panel-border-soft20: #2f3236;
  --color-panel-text-hard10: #878787;
  --color-panel-background-hard10: #000000;
  --color-panel-border-hard10: #474c52;
  --color-panel-text-hard20: #949494;
  --color-panel-background-hard20: #000000;
  --color-panel-border-hard20: #53595f;
  --color-panel-icon-hover: #a0a5ac;
  --color-panel-icon-active: #a0a5ac;
  --color-panel-icon-focus: #a0a5ac;
  --color-panel-icon-disabled: #505356;
  --color-panel-icon-soft20: #80848a;
  --color-panel-shadow-soft: 0 1px 3px rgba(0, 0, 0, 0.08399999999999999);
  --color-panel-shadow-hard: 0 1px 3px rgba(0, 0, 0, 0.156);

  --color-panelRaised-background: hsl(220, 15%, 8%);
  --color-panelRaised-text: #7e7e7e;
  --color-panelRaised-border: #3b3f44;
  --color-panelRaised-link: #68bce3;
  --color-panelRaised-icon: #a0a5ac;
  --color-panelRaised-link-visited: #68bce3;
  --color-panelRaised-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
  --color-panelRaised-icon-hover: #a0a5ac;
  --color-panelRaised-icon-active: #a0a5ac;
  --color-panelRaised-icon-focus: #a0a5ac;
  --color-panelRaised-icon-disabled: #595c62;
  --color-panelRaised-icon-soft20: #83888e;
  --color-panelRaised-shadow-soft: 0 2px 4px rgba(0, 0, 0, 0.06999999999999999);
  --color-panelRaised-shadow-hard: 0 2px 4px rgba(0, 0, 0, 0.13);

  --color-panelElevated-background: hsl(220, 15%, 11%);
  --color-panelElevated-text: #828282;
  --color-panelElevated-border: #53595f;
  --color-panelElevated-link: #68bce3;
  --color-panelElevated-icon: #a0a5ac;
  --color-panelElevated-link-visited: #68bce3;
  --color-panelElevated-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
  --color-panelElevated-icon-hover: #a0a5ac;
  --color-panelElevated-icon-active: #a0a5ac;
  --color-panelElevated-icon-focus: #a0a5ac;
  --color-panelElevated-icon-disabled: #5c6066;
  --color-panelElevated-icon-soft20: #858990;
  --color-panelElevated-shadow-soft: 0 3px 6px rgba(0, 0, 0, 0.08399999999999999);
  --color-panelElevated-shadow-hard: 0 3px 6px rgba(0, 0, 0, 0.156);

  --color-panelFloating-background: hsl(220, 15%, 15%);
  --color-panelFloating-text: #8a8a8a;
  --color-panelFloating-border: #6b727b;
  --color-panelFloating-link: #68bce3;
  --color-panelFloating-icon: #a0a5ac;
  --color-panelFloating-link-visited: #68bce3;
  --color-panelFloating-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  --color-panelFloating-icon-hover: #a0a5ac;
  --color-panelFloating-icon-active: #a0a5ac;
  --color-panelFloating-icon-focus: #a0a5ac;
  --color-panelFloating-icon-disabled: #61656c;
  --color-panelFloating-icon-soft20: #878b92;
  --color-panelFloating-shadow-soft: 0 4px 8px rgba(0, 0, 0, 0.105);
  --color-panelFloating-shadow-hard: 0 4px 8px rgba(0, 0, 0, 0.195);

  --color-buttonPrimary-background: #2490c2;
  --color-buttonPrimary-text: #ffffff;
  --color-buttonPrimary-border: transparent;
  --color-buttonPrimary-icon: #000000;
  --color-buttonPrimary-background-hover: #1c7097;
  --color-buttonPrimary-background-active: #186081;
  --color-buttonPrimary-background-focus: #2490c2;
  --color-buttonPrimary-background-disabled: rgba(36, 144, 194, 0.6);
  --color-buttonPrimary-text-hover: #e9e9e9;
  --color-buttonPrimary-text-active: #d9d9d9;
  --color-buttonPrimary-text-focus: #ffffff;
  --color-buttonPrimary-text-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonPrimary-border-hover: transparent;
  --color-buttonPrimary-border-active: transparent;
  --color-buttonPrimary-border-focus: transparent;
  --color-buttonPrimary-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonPrimary-icon-hover: #000000;
  --color-buttonPrimary-icon-active: #000000;
  --color-buttonPrimary-icon-focus: #000000;
  --color-buttonPrimary-icon-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonPrimary-icon-soft20: #071d27;

  --color-buttonSecondary-background: transparent;
  --color-buttonSecondary-text: #2490c2;
  --color-buttonSecondary-border: #2490c2;
  --color-buttonSecondary-icon: #000000;
  --color-buttonSecondary-background-hover: rgba(36, 144, 194, 0.1);
  --color-buttonSecondary-background-active: rgba(36, 144, 194, 0.1);
  --color-buttonSecondary-background-focus: transparent;
  --color-buttonSecondary-background-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSecondary-text-hover: #2490c2;
  --color-buttonSecondary-text-active: #2490c2;
  --color-buttonSecondary-text-focus: #2490c2;
  --color-buttonSecondary-text-disabled: rgba(36, 144, 194, 0.6);
  --color-buttonSecondary-border-hover: #2490c2;
  --color-buttonSecondary-border-active: #2490c2;
  --color-buttonSecondary-border-focus: #2490c2;
  --color-buttonSecondary-border-disabled: rgba(36, 144, 194, 0.6);
  --color-buttonSecondary-icon-hover: #040e13;
  --color-buttonSecondary-icon-active: #05161d;
  --color-buttonSecondary-icon-focus: #000000;
  --color-buttonSecondary-icon-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSecondary-icon-soft20: rgba(0, 0, 0, 0.8);

  --color-buttonNeutral-background: #3b3f44;
  --color-buttonNeutral-text: #aaaaaa;
  --color-buttonNeutral-border: #6b727b;
  --color-buttonNeutral-icon: #878787;
  --color-buttonNeutral-background-hover: #474c52;
  --color-buttonNeutral-background-active: #53595f;
  --color-buttonNeutral-background-focus: #3b3f44;
  --color-buttonNeutral-background-disabled: rgba(59, 63, 68, 0.6);
  --color-buttonNeutral-text-hover: #bbbbbb;
  --color-buttonNeutral-text-active: #cfcfcf;
  --color-buttonNeutral-text-focus: #aaaaaa;
  --color-buttonNeutral-text-disabled: rgba(170, 170, 170, 0.6);
  --color-buttonNeutral-border-hover: #6b727b;
  --color-buttonNeutral-border-active: #6b727b;
  --color-buttonNeutral-border-focus: #6b727b;
  --color-buttonNeutral-border-disabled: rgba(107, 114, 123, 0.6);
  --color-buttonNeutral-icon-hover: #878787;
  --color-buttonNeutral-icon-active: #878787;
  --color-buttonNeutral-icon-focus: #878787;
  --color-buttonNeutral-icon-disabled: rgba(135, 135, 135, 0.6);
  --color-buttonNeutral-icon-soft20: #78797a;

  --color-buttonDanger-background: #bc2929;
  --color-buttonDanger-text: #ffffff;
  --color-buttonDanger-border: transparent;
  --color-buttonDanger-icon: #000000;
  --color-buttonDanger-background-hover: #922020;
  --color-buttonDanger-background-active: #7d1c1c;
  --color-buttonDanger-background-focus: #bc2929;
  --color-buttonDanger-background-disabled: rgba(188, 41, 41, 0.6);
  --color-buttonDanger-text-hover: #e6e6e6;
  --color-buttonDanger-text-active: #d9d9d9;
  --color-buttonDanger-text-focus: #ffffff;
  --color-buttonDanger-text-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonDanger-border-hover: transparent;
  --color-buttonDanger-border-active: transparent;
  --color-buttonDanger-border-focus: transparent;
  --color-buttonDanger-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonDanger-icon-hover: #000000;
  --color-buttonDanger-icon-active: #000000;
  --color-buttonDanger-icon-focus: #000000;
  --color-buttonDanger-icon-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonDanger-icon-soft20: #260808;

  --color-buttonSuccess-background: #29bc8b;
  --color-buttonSuccess-text: #ffffff;
  --color-buttonSuccess-border: transparent;
  --color-buttonSuccess-icon: #000000;
  --color-buttonSuccess-background-hover: #20926c;
  --color-buttonSuccess-background-active: #1c7d5d;
  --color-buttonSuccess-background-focus: #29bc8b;
  --color-buttonSuccess-background-disabled: rgba(41, 188, 139, 0.6);
  --color-buttonSuccess-text-hover: #e6e6e6;
  --color-buttonSuccess-text-active: #f1f1f1;
  --color-buttonSuccess-text-focus: #ffffff;
  --color-buttonSuccess-text-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonSuccess-border-hover: transparent;
  --color-buttonSuccess-border-active: transparent;
  --color-buttonSuccess-border-focus: transparent;
  --color-buttonSuccess-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSuccess-icon-hover: #000000;
  --color-buttonSuccess-icon-active: #000000;
  --color-buttonSuccess-icon-focus: #000000;
  --color-buttonSuccess-icon-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSuccess-icon-soft20: #08261c;

  --color-input-background: hsl(0, 0%, 0%);
  --color-input-text: #7b7b7b;
  --color-input-border: #53595f;
  --color-input-icon: #848b94;
  --color-input-shadow: 0 0 0 3px transparent;
  --color-input-background-hover: #050505;
  --color-input-background-active: hsl(0, 0%, 0%);
  --color-input-background-focus: #0c222c;
  --color-input-background-disabled: rgba(0, 0, 0, 0.6);
  --color-input-text-hover: #7a7a7a;
  --color-input-text-active: #7b7b7b;
  --color-input-text-focus: #758992;
  --color-input-text-disabled: rgba(123, 123, 123, 0.6);
  --color-input-border-hover: #53595f;
  --color-input-border-active: #53595f;
  --color-input-border-focus: #68bce3;
  --color-input-border-disabled: rgba(83, 89, 95, 0.6);
  --color-input-icon-hover: #848b94;
  --color-input-icon-active: #848b94;
  --color-input-icon-focus: #7691a2;
  --color-input-icon-disabled: rgba(132, 139, 148, 0.6);
  --color-input-icon-soft20: #6a6f76;
  --color-input-shadow-soft: 0 0 0 3px transparent;
  --color-input-shadow-hard: 0 0 0 3px transparent;

  --color-noticeInfo-background: #4b4f54;
  --color-noticeInfo-text: #cbd6e6;
  --color-noticeInfo-border: #1a4a99;
  --color-noticeInfo-icon: #6d9ce6;
  --color-noticeInfo-icon-hover: #6d9ce6;
  --color-noticeInfo-icon-active: #6d9ce6;
  --color-noticeInfo-icon-focus: #6d9ce6;
  --color-noticeInfo-icon-disabled: #5c769d;
  --color-noticeInfo-icon-soft20: #668dc9;

  --color-noticeSuccess-background: #4c5252;
  --color-noticeSuccess-text: #cde4dc;
  --color-noticeSuccess-border: #20926c;
  --color-noticeSuccess-icon: #6ddfb9;
  --color-noticeSuccess-icon-hover: #6ddfb9;
  --color-noticeSuccess-icon-active: #6ddfb9;
  --color-noticeSuccess-icon-focus: #6ddfb9;
  --color-noticeSuccess-icon-disabled: #5d9986;
  --color-noticeSuccess-icon-soft20: #66c3a4;

  --color-noticeWarning-background: #51504f;
  --color-noticeWarning-text: #e6dccb;
  --color-noticeWarning-border: #9a6a19;
  --color-noticeWarning-icon: #e6b765;
  --color-noticeWarning-icon-hover: #e6b765;
  --color-noticeWarning-icon-active: #e6b765;
  --color-noticeWarning-icon-focus: #e6b765;
  --color-noticeWarning-icon-disabled: #9c845a;
  --color-noticeWarning-icon-soft20: #c8a261;

  --color-noticeDanger-background: #504d4f;
  --color-noticeDanger-text: #e4cdcd;
  --color-noticeDanger-border: #922020;
  --color-noticeDanger-icon: #e27a7a;
  --color-noticeDanger-icon-hover: #e27a7a;
  --color-noticeDanger-icon-active: #e27a7a;
  --color-noticeDanger-icon-focus: #e27a7a;
  --color-noticeDanger-icon-disabled: #996465;
  --color-noticeDanger-icon-soft20: #c57171;

  --color-codeBlock-background: #262626;
  --color-codeBlock-text: #8c8c8c;
  --color-codeBlock-border: #3b3f44;
  --color-codeBlock-text-soft10: #828282;
  --color-codeBlock-background-soft10: #333333;
  --color-codeBlock-border-soft10: #393d41;
  --color-codeBlock-text-soft20: #787878;
  --color-codeBlock-background-soft20: #404040;
  --color-codeBlock-border-soft20: #373a3e;

  --color-codeInline-background: #0c171d;
  --color-codeInline-text: #aac7d4;
  --color-codeInline-border: #14506c;

  --color-dialog-background: hsl(0, 0%, 0%);
  --color-dialog-text: #7b7b7b;
  --color-dialog-border: #3b3f44;
  --color-dialog-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  --color-dialog-shadow-soft: 0 8px 32px rgba(0, 0, 0, 0.105);
  --color-dialog-shadow-hard: 0 8px 32px rgba(0, 0, 0, 0.195);

  --color-modal-background: hsl(0, 0%, 0%);
  --color-modal-text: #7b7b7b;
  --color-modal-border: #3b3f44;
  --color-modal-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  --color-modal-shadow-soft: 0 20px 60px rgba(0, 0, 0, 0.21);
  --color-modal-shadow-hard: 0 20px 60px rgba(0, 0, 0, 0.39);

  --color-tooltip-background: #d9d9d9;
  --color-tooltip-text: #606060;
  --color-tooltip-border: transparent;
  --color-tooltip-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  --color-tooltip-text-soft10: #6c6c6c;
  --color-tooltip-background-soft10: #e6e6e6;
  --color-tooltip-border-soft10: rgba(217, 217, 217, 0.1);
  --color-tooltip-text-soft20: #787878;
  --color-tooltip-background-soft20: #f2f2f2;
  --color-tooltip-border-soft20: rgba(217, 217, 217, 0.2);
  --color-tooltip-shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.13999999999999999);
  --color-tooltip-shadow-hard: 0 2px 8px rgba(0, 0, 0, 0.26);

  --color-menu-background: hsl(220, 15%, 15%);
  --color-menu-text: #8a8a8a;
  --color-menu-border: #3b3f44;
  --color-menu-link: #68bce3;
  --color-menu-icon: #a0a5ac;
  --color-menu-link-visited: #68bce3;
  --color-menu-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  --color-menu-link-hover: #64bae2;
  --color-menu-link-active: #68bce3;
  --color-menu-link-focus: #68bce3;
  --color-menu-link-disabled: #68bce3;
  --color-menu-background-hover: #24313e;
  --color-menu-background-active: hsl(220, 15%, 15%);
  --color-menu-background-focus: hsl(220, 15%, 15%);
  --color-menu-background-disabled: hsl(220, 15%, 15%);
  --color-menu-text-hover: #8e989d;
  --color-menu-text-active: #8a8a8a;
  --color-menu-text-focus: #8a8a8a;
  --color-menu-text-disabled: #8a8a8a;
  --color-menu-border-hover: #3b4a53;
  --color-menu-border-active: #3b3f44;
  --color-menu-border-focus: #3b3f44;
  --color-menu-border-disabled: #3b3f44;
  --color-menu-icon-hover: #96a5b1;
  --color-menu-icon-active: #a0a5ac;
  --color-menu-icon-focus: #a0a5ac;
  --color-menu-icon-disabled: #a0a5ac;
  --color-menu-icon-soft20: #878b92;
  --color-menu-shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.105);
  --color-menu-shadow-hard: 0 2px 8px rgba(0, 0, 0, 0.195);
  --color-menu-link-visited-hover: #64bae2;
  --color-menu-link-visited-active: #68bce3;
  --color-menu-link-visited-focus: #68bce3;

  --color-overlay-background: rgba(0, 0, 0, 0.85);
  --color-overlay-text: #7b7b7b;
  --color-overlay-border: transparent;

  --color-overlayDark-background: rgba(0, 0, 0, 0.8);
  --color-overlayDark-text: #ffffff;
  --color-overlayDark-border: transparent;

  /* Special tokens */
  --color-selection-background: #14506c;
  --color-selection-text: #dde8ee;
  --focus-ring-color: #68bce3;
  --focus-ring-offset: 2px;
  --color-overlay-background: rgba(0, 0, 0, 0.85);
  --color-backdrop-background: rgba(0, 0, 0, 0.8);
}