/* Generated theme: Autumn (dark mode) */
/* Generated: 2025-08-01T04:58:48.983Z */
/* WCAG AA compliant */

@import '../styles.css';

[data-theme="autumn"][data-theme-type="dark"] {
  /* Surface tokens */
  --color-body-background: hsl(220, 15%, 6%);
  --color-body-text: #7c7c7c;
  --color-body-border: #404040;
  --color-body-link: #ef5d5d;
  --color-body-icon: #a6a6a6;
  --color-body-link-visited: #ef5d5d;
  --color-body-text-soft10: #717171;
  --color-body-background-soft10: #181b21;
  --color-body-border-soft10: #3b3b3b;
  --color-body-text-soft20: #666667;
  --color-body-background-soft20: #22272f;
  --color-body-border-soft20: #363637;
  --color-body-text-soft30: #818183;
  --color-body-background-soft30: #2d343e;
  --color-body-border-soft30: #313132;
  --color-body-text-soft40: #838386;
  --color-body-background-soft40: #38404d;
  --color-body-border-soft40: #2c2c2e;
  --color-body-text-hard10: #8a8a8a;
  --color-body-background-hard10: #020203;
  --color-body-border-hard10: #4d4d4d;
  --color-body-text-hard20: #969696;
  --color-body-background-hard20: #000000;
  --color-body-border-hard20: #595959;
  --color-body-link-hover: #f06a6a;
  --color-body-link-active: #f17474;
  --color-body-link-focus: #ef5d5d;
  --color-body-link-disabled: rgba(239, 93, 93, 0.5);
  --color-body-background-hover: #13161b;
  --color-body-background-active: #171b21;
  --color-body-background-focus: hsl(220, 15%, 6%);
  --color-body-background-disabled: rgba(13, 15, 18, 0.5);
  --color-body-text-hover: #7f7f7f;
  --color-body-text-active: #818181;
  --color-body-text-focus: #7c7c7c;
  --color-body-text-disabled: rgba(124, 124, 124, 0.5);
  --color-body-border-hover: #404040;
  --color-body-border-active: #404040;
  --color-body-border-focus: #404040;
  --color-body-border-disabled: rgba(64, 64, 64, 0.5);
  --color-body-icon-hover: #a6a6a6;
  --color-body-icon-active: #a6a6a6;
  --color-body-icon-focus: #a6a6a6;
  --color-body-icon-disabled: rgba(166, 166, 166, 0.5);
  --color-body-icon-soft20: #878888;
  --color-body-link-visited-hover: #f06a6a;
  --color-body-link-visited-active: #f17474;
  --color-body-link-visited-focus: #ef5d5d;

  --color-panel-background: hsl(0, 0%, 0%);
  --color-panel-text: #7c7c7c;
  --color-panel-border: #404040;
  --color-panel-link: #ef5d5d;
  --color-panel-icon: #a6a6a6;
  --color-panel-link-visited: #ef5d5d;
  --color-panel-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  --color-panel-text-soft10: #707070;
  --color-panel-background-soft10: #0d0d0d;
  --color-panel-border-soft10: #3a3a3a;
  --color-panel-text-soft20: #636363;
  --color-panel-background-soft20: #1a1a1a;
  --color-panel-border-soft20: #333333;
  --color-panel-text-soft30: #7d7d7d;
  --color-panel-background-soft30: #262626;
  --color-panel-border-soft30: #2d2d2d;
  --color-panel-text-soft40: #7d7d7d;
  --color-panel-background-soft40: #333333;
  --color-panel-border-soft40: #262626;
  --color-panel-text-hard10: #8a8a8a;
  --color-panel-background-hard10: #000000;
  --color-panel-border-hard10: #4d4d4d;
  --color-panel-text-hard20: #969696;
  --color-panel-background-hard20: #000000;
  --color-panel-border-hard20: #595959;
  --color-panel-icon-hover: #a6a6a6;
  --color-panel-icon-active: #a6a6a6;
  --color-panel-icon-focus: #a6a6a6;
  --color-panel-icon-disabled: #535353;
  --color-panel-icon-soft20: #858585;
  --color-panel-shadow-soft: 0 1px 3px rgba(0, 0, 0, 0.08399999999999999);
  --color-panel-shadow-hard: 0 1px 3px rgba(0, 0, 0, 0.156);

  --color-panelRaised-background: hsl(220, 15%, 8%);
  --color-panelRaised-text: #7e7e7e;
  --color-panelRaised-border: #404040;
  --color-panelRaised-link: #ef5d5d;
  --color-panelRaised-icon: #a6a6a6;
  --color-panelRaised-link-visited: #ef5d5d;
  --color-panelRaised-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
  --color-panelRaised-icon-hover: #a6a6a6;
  --color-panelRaised-icon-active: #a6a6a6;
  --color-panelRaised-icon-focus: #a6a6a6;
  --color-panelRaised-icon-disabled: #5c5d5f;
  --color-panelRaised-icon-soft20: #888989;
  --color-panelRaised-shadow-soft: 0 2px 4px rgba(0, 0, 0, 0.06999999999999999);
  --color-panelRaised-shadow-hard: 0 2px 4px rgba(0, 0, 0, 0.13);

  --color-panelElevated-background: hsl(220, 15%, 11%);
  --color-panelElevated-text: #818181;
  --color-panelElevated-border: #595959;
  --color-panelElevated-link: #ef5d5d;
  --color-panelElevated-icon: #a6a6a6;
  --color-panelElevated-link-visited: #ef5d5d;
  --color-panelElevated-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
  --color-panelElevated-icon-hover: #a6a6a6;
  --color-panelElevated-icon-active: #a6a6a6;
  --color-panelElevated-icon-focus: #a6a6a6;
  --color-panelElevated-icon-disabled: #5f6163;
  --color-panelElevated-icon-soft20: #8a8a8b;
  --color-panelElevated-shadow-soft: 0 3px 6px rgba(0, 0, 0, 0.08399999999999999);
  --color-panelElevated-shadow-hard: 0 3px 6px rgba(0, 0, 0, 0.156);

  --color-panelFloating-background: hsl(220, 15%, 15%);
  --color-panelFloating-text: #898989;
  --color-panelFloating-border: #737373;
  --color-panelFloating-link: #ef5d5d;
  --color-panelFloating-icon: #a6a6a6;
  --color-panelFloating-link-visited: #ef5d5d;
  --color-panelFloating-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  --color-panelFloating-icon-hover: #a6a6a6;
  --color-panelFloating-icon-active: #a6a6a6;
  --color-panelFloating-icon-focus: #a6a6a6;
  --color-panelFloating-icon-disabled: #646569;
  --color-panelFloating-icon-soft20: #8b8c8e;
  --color-panelFloating-shadow-soft: 0 4px 8px rgba(0, 0, 0, 0.105);
  --color-panelFloating-shadow-hard: 0 4px 8px rgba(0, 0, 0, 0.195);

  --color-buttonPrimary-background: #d11515;
  --color-buttonPrimary-text: #ffffff;
  --color-buttonPrimary-border: transparent;
  --color-buttonPrimary-icon: #ffffff;
  --color-buttonPrimary-background-hover: #a21010;
  --color-buttonPrimary-background-active: #8b0e0e;
  --color-buttonPrimary-background-focus: #d11515;
  --color-buttonPrimary-background-disabled: rgba(209, 21, 21, 0.6);
  --color-buttonPrimary-text-hover: #e6e6e6;
  --color-buttonPrimary-text-active: #d9d9d9;
  --color-buttonPrimary-text-focus: #ffffff;
  --color-buttonPrimary-text-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonPrimary-border-hover: transparent;
  --color-buttonPrimary-border-active: transparent;
  --color-buttonPrimary-border-focus: transparent;
  --color-buttonPrimary-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonPrimary-icon-hover: #e6e6e6;
  --color-buttonPrimary-icon-active: #d9d9d9;
  --color-buttonPrimary-icon-focus: #ffffff;
  --color-buttonPrimary-icon-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonPrimary-icon-soft20: #f6d0d0;

  --color-buttonSecondary-background: transparent;
  --color-buttonSecondary-text: #d11515;
  --color-buttonSecondary-border: #d11515;
  --color-buttonSecondary-icon: #d11515;
  --color-buttonSecondary-background-hover: rgba(209, 21, 21, 0.1);
  --color-buttonSecondary-background-active: rgba(209, 21, 21, 0.1);
  --color-buttonSecondary-background-focus: transparent;
  --color-buttonSecondary-background-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSecondary-text-hover: #fce1e1;
  --color-buttonSecondary-text-active: #fce1e1;
  --color-buttonSecondary-text-focus: #d11515;
  --color-buttonSecondary-text-disabled: #e71717;
  --color-buttonSecondary-border-hover: #d11515;
  --color-buttonSecondary-border-active: #d11515;
  --color-buttonSecondary-border-focus: #d11515;
  --color-buttonSecondary-border-disabled: rgba(209, 21, 21, 0.6);
  --color-buttonSecondary-icon-hover: #d11515;
  --color-buttonSecondary-icon-active: #d11515;
  --color-buttonSecondary-icon-focus: #d11515;
  --color-buttonSecondary-icon-disabled: rgba(209, 21, 21, 0.6);
  --color-buttonSecondary-icon-soft20: rgba(209, 21, 21, 0.8);

  --color-buttonNeutral-background: #404040;
  --color-buttonNeutral-text: #aaaaaa;
  --color-buttonNeutral-border: #737373;
  --color-buttonNeutral-icon: #aaaaaa;
  --color-buttonNeutral-background-hover: #4d4d4d;
  --color-buttonNeutral-background-active: #595959;
  --color-buttonNeutral-background-focus: #404040;
  --color-buttonNeutral-background-disabled: rgba(64, 64, 64, 0.6);
  --color-buttonNeutral-text-hover: #bbbbbb;
  --color-buttonNeutral-text-active: #cfcfcf;
  --color-buttonNeutral-text-focus: #aaaaaa;
  --color-buttonNeutral-text-disabled: #acacac;
  --color-buttonNeutral-border-hover: #737373;
  --color-buttonNeutral-border-active: #737373;
  --color-buttonNeutral-border-focus: #737373;
  --color-buttonNeutral-border-disabled: rgba(115, 115, 115, 0.6);
  --color-buttonNeutral-icon-hover: #ababab;
  --color-buttonNeutral-icon-active: #ababab;
  --color-buttonNeutral-icon-focus: #aaaaaa;
  --color-buttonNeutral-icon-disabled: rgba(170, 170, 170, 0.6);
  --color-buttonNeutral-icon-soft20: #959595;

  --color-buttonDanger-background: #df0707;
  --color-buttonDanger-text: #ffffff;
  --color-buttonDanger-border: transparent;
  --color-buttonDanger-icon: #ffffff;
  --color-buttonDanger-background-hover: #ad0505;
  --color-buttonDanger-background-active: #940505;
  --color-buttonDanger-background-focus: #df0707;
  --color-buttonDanger-background-disabled: rgba(223, 7, 7, 0.6);
  --color-buttonDanger-text-hover: #e6e6e6;
  --color-buttonDanger-text-active: #d9d9d9;
  --color-buttonDanger-text-focus: #ffffff;
  --color-buttonDanger-text-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonDanger-border-hover: transparent;
  --color-buttonDanger-border-active: transparent;
  --color-buttonDanger-border-focus: transparent;
  --color-buttonDanger-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonDanger-icon-hover: #e6e6e6;
  --color-buttonDanger-icon-active: #d9d9d9;
  --color-buttonDanger-icon-focus: #ffffff;
  --color-buttonDanger-icon-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonDanger-icon-soft20: #f9cdcd;

  --color-buttonSuccess-background: #07df97;
  --color-buttonSuccess-text: #515151;
  --color-buttonSuccess-border: transparent;
  --color-buttonSuccess-icon: #515151;
  --color-buttonSuccess-background-hover: #05ad75;
  --color-buttonSuccess-background-active: #059464;
  --color-buttonSuccess-background-focus: #07df97;
  --color-buttonSuccess-background-disabled: rgba(7, 223, 151, 0.6);
  --color-buttonSuccess-text-hover: #383838;
  --color-buttonSuccess-text-active: #2b2b2b;
  --color-buttonSuccess-text-focus: #515151;
  --color-buttonSuccess-text-disabled: rgba(81, 81, 81, 0.6);
  --color-buttonSuccess-border-hover: transparent;
  --color-buttonSuccess-border-active: transparent;
  --color-buttonSuccess-border-focus: transparent;
  --color-buttonSuccess-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSuccess-icon-hover: #383838;
  --color-buttonSuccess-icon-active: #2b2b2b;
  --color-buttonSuccess-icon-focus: #515151;
  --color-buttonSuccess-icon-disabled: rgba(81, 81, 81, 0.6);
  --color-buttonSuccess-icon-soft20: #426d5f;

  --color-input-background: hsl(0, 0%, 0%);
  --color-input-text: #7c7c7c;
  --color-input-border: #595959;
  --color-input-icon: #8c8c8c;
  --color-input-shadow: 0 0 0 3px transparent;
  --color-input-background-hover: #050505;
  --color-input-background-active: hsl(0, 0%, 0%);
  --color-input-background-focus: #2f0909;
  --color-input-background-disabled: rgba(0, 0, 0, 0.6);
  --color-input-text-hover: #7d7d7d;
  --color-input-text-active: #7c7c7c;
  --color-input-text-focus: #997676;
  --color-input-text-disabled: rgba(124, 124, 124, 0.6);
  --color-input-border-hover: #595959;
  --color-input-border-active: #595959;
  --color-input-border-focus: #ef5d5d;
  --color-input-border-disabled: rgba(89, 89, 89, 0.6);
  --color-input-icon-hover: #8c8c8c;
  --color-input-icon-active: #8c8c8c;
  --color-input-icon-focus: #9f7979;
  --color-input-icon-disabled: rgba(140, 140, 140, 0.6);
  --color-input-icon-soft20: #707070;
  --color-input-shadow-soft: 0 0 0 3px transparent;
  --color-input-shadow-hard: 0 0 0 3px transparent;

  --color-noticeInfo-background: #0c1421;
  --color-noticeInfo-text: #c0d3f2;
  --color-noticeInfo-border: #0044b3;
  --color-noticeInfo-icon: #4d91ff;
  --color-noticeInfo-icon-hover: #4d91ff;
  --color-noticeInfo-icon-active: #4d91ff;
  --color-noticeInfo-icon-focus: #4d91ff;
  --color-noticeInfo-icon-disabled: #2d5390;
  --color-noticeInfo-icon-soft20: #4078d3;

  --color-noticeSuccess-background: #0d1e1b;
  --color-noticeSuccess-text: #c2f0e0;
  --color-noticeSuccess-border: #05ad75;
  --color-noticeSuccess-icon: #52fac2;
  --color-noticeSuccess-icon-hover: #52fac2;
  --color-noticeSuccess-icon-active: #52fac2;
  --color-noticeSuccess-icon-focus: #52fac2;
  --color-noticeSuccess-icon-disabled: #308c6f;
  --color-noticeSuccess-icon-soft20: #44cea1;

  --color-noticeWarning-background: #1d1810;
  --color-noticeWarning-text: #f2dfc0;
  --color-noticeWarning-border: #b37100;
  --color-noticeWarning-icon: #ffbe4d;
  --color-noticeWarning-icon-hover: #ffbe4d;
  --color-noticeWarning-icon-active: #ffbe4d;
  --color-noticeWarning-icon-focus: #ffbe4d;
  --color-noticeWarning-icon-disabled: #8e6b2f;
  --color-noticeWarning-icon-soft20: #d29d41;

  --color-noticeDanger-background: #1c0e10;
  --color-noticeDanger-text: #f0c2c2;
  --color-noticeDanger-border: #ad0505;
  --color-noticeDanger-icon: #fa5252;
  --color-noticeDanger-icon-hover: #fa5252;
  --color-noticeDanger-icon-active: #fa5252;
  --color-noticeDanger-icon-focus: #fa5252;
  --color-noticeDanger-icon-disabled: #8b3031;
  --color-noticeDanger-icon-soft20: #ce4445;

  --color-codeBlock-background: #262626;
  --color-codeBlock-text: #8d8d8d;
  --color-codeBlock-border: #404040;
  --color-codeBlock-text-soft10: #838383;
  --color-codeBlock-background-soft10: #333333;
  --color-codeBlock-border-soft10: #3d3d3d;
  --color-codeBlock-text-soft20: #787878;
  --color-codeBlock-background-soft20: #404040;
  --color-codeBlock-border-soft20: #3b3b3b;

  --color-codeInline-background: #210808;
  --color-codeInline-text: #e19d9d;
  --color-codeInline-border: #740b0b;

  --color-dialog-background: hsl(0, 0%, 0%);
  --color-dialog-text: #7c7c7c;
  --color-dialog-border: #404040;
  --color-dialog-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  --color-dialog-shadow-soft: 0 8px 32px rgba(0, 0, 0, 0.105);
  --color-dialog-shadow-hard: 0 8px 32px rgba(0, 0, 0, 0.195);

  --color-modal-background: hsl(0, 0%, 0%);
  --color-modal-text: #7c7c7c;
  --color-modal-border: #404040;
  --color-modal-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  --color-modal-shadow-soft: 0 20px 60px rgba(0, 0, 0, 0.21);
  --color-modal-shadow-hard: 0 20px 60px rgba(0, 0, 0, 0.39);

  --color-tooltip-background: #d9d9d9;
  --color-tooltip-text: #5f5f5f;
  --color-tooltip-border: transparent;
  --color-tooltip-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  --color-tooltip-text-soft10: #6b6b6b;
  --color-tooltip-background-soft10: #e6e6e6;
  --color-tooltip-border-soft10: rgba(217, 217, 217, 0.1);
  --color-tooltip-text-soft20: #777777;
  --color-tooltip-background-soft20: #f2f2f2;
  --color-tooltip-border-soft20: rgba(217, 217, 217, 0.2);
  --color-tooltip-shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.13999999999999999);
  --color-tooltip-shadow-hard: 0 2px 8px rgba(0, 0, 0, 0.26);

  --color-menu-background: hsl(220, 15%, 15%);
  --color-menu-text: #898989;
  --color-menu-border: #404040;
  --color-menu-link: #ef5d5d;
  --color-menu-icon: #a6a6a6;
  --color-menu-link-visited: #ef5d5d;
  --color-menu-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  --color-menu-link-hover: #ef5858;
  --color-menu-link-active: #ef5d5d;
  --color-menu-link-focus: #ef5d5d;
  --color-menu-link-disabled: #ef5d5d;
  --color-menu-background-hover: #35252c;
  --color-menu-background-active: hsl(220, 15%, 15%);
  --color-menu-background-focus: hsl(220, 15%, 15%);
  --color-menu-background-disabled: hsl(220, 15%, 15%);
  --color-menu-text-hover: #9e8d8d;
  --color-menu-text-active: #898989;
  --color-menu-text-focus: #898989;
  --color-menu-text-disabled: #898989;
  --color-menu-border-hover: #513e3e;
  --color-menu-border-active: #404040;
  --color-menu-border-focus: #404040;
  --color-menu-border-disabled: #404040;
  --color-menu-icon-hover: #ad9a9a;
  --color-menu-icon-active: #a6a6a6;
  --color-menu-icon-focus: #a6a6a6;
  --color-menu-icon-disabled: #a6a6a6;
  --color-menu-icon-soft20: #8b8c8e;
  --color-menu-shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.105);
  --color-menu-shadow-hard: 0 2px 8px rgba(0, 0, 0, 0.195);
  --color-menu-link-visited-hover: #ef5858;
  --color-menu-link-visited-active: #ef5d5d;
  --color-menu-link-visited-focus: #ef5d5d;

  --color-overlay-background: rgba(0, 0, 0, 0.85);
  --color-overlay-text: #7c7c7c;
  --color-overlay-border: transparent;

  --color-overlayDark-background: rgba(0, 0, 0, 0.8);
  --color-overlayDark-text: #ffffff;
  --color-overlayDark-border: transparent;

  /* Special tokens */
  --color-selection-background: #740b0b;
  --color-selection-text: #f3d8d8;
  --focus-ring-color: #ef5d5d;
  --focus-ring-offset: 2px;
  --color-overlay-background: rgba(0, 0, 0, 0.85);
  --color-backdrop-background: rgba(0, 0, 0, 0.8);
}