/* Generated theme: Forest (light mode) */
/* Generated: 2025-07-25T23:32:55.199Z */
/* WCAG AA compliant */

@import '../styles.css';

[data-theme="forest"][data-theme-type="light"] {
  /* Surface tokens */
  --color-body-background: hsl(220, 15%, 95%);
  --color-body-text: #6e6e6e;
  --color-body-border: #d9d9d9;
  --color-body-link: #11803a;
  --color-body-icon: #737373;
  --color-body-link-visited: #11803a;
  --color-body-text-soft10: #7c7c7c;
  --color-body-background-soft10: #e2e6e9;
  --color-body-border-soft10: #dbdcdc;
  --color-body-text-soft20: #89898a;
  --color-body-background-soft20: #d3d9de;
  --color-body-border-soft20: #dedede;
  --color-body-text-soft30: #969697;
  --color-body-background-soft30: #c4ccd4;
  --color-body-border-soft30: #e0e1e1;
  --color-body-text-soft40: #a3a3a4;
  --color-body-background-soft40: #b6bfc9;
  --color-body-border-soft40: #e2e3e4;
  --color-body-text-hard10: #636363;
  --color-body-background-hard10: #ffffff;
  --color-body-border-hard10: #cccccc;
  --color-body-text-hard20: #575757;
  --color-body-background-hard20: #ffffff;
  --color-body-border-hard20: #bfbfbf;
  --color-body-link-hover: #0f7133;
  --color-body-link-active: #0d682f;
  --color-body-link-focus: #11803a;
  --color-body-link-disabled: rgba(17, 128, 58, 0.5);
  --color-body-background-hover: #e8ebee;
  --color-body-background-active: #e2e6e9;
  --color-body-background-focus: hsl(220, 15%, 95%);
  --color-body-background-disabled: rgba(240, 242, 244, 0.5);
  --color-body-text-hover: #6a6a6a;
  --color-body-text-active: #686868;
  --color-body-text-focus: #6f6f6f;
  --color-body-text-disabled: #6e6e6e;
  --color-body-border-hover: #d9d9d9;
  --color-body-border-active: #d9d9d9;
  --color-body-border-focus: #d9d9d9;
  --color-body-border-disabled: rgba(217, 217, 217, 0.5);
  --color-body-icon-hover: #737373;
  --color-body-icon-active: #737373;
  --color-body-icon-focus: #737373;
  --color-body-icon-disabled: rgba(115, 115, 115, 0.5);
  --color-body-icon-soft20: #8c8c8d;
  --color-body-link-visited-hover: #0f7133;
  --color-body-link-visited-active: #0d682f;
  --color-body-link-visited-focus: #11803a;

  --color-panel-background: hsl(0, 0%, 100%);
  --color-panel-text: #6f6f6f;
  --color-panel-border: #d9d9d9;
  --color-panel-link: #11803a;
  --color-panel-icon: #737373;
  --color-panel-link-visited: #11803a;
  --color-panel-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  --color-panel-text-soft10: #7d7d7d;
  --color-panel-background-soft10: #f2f2f2;
  --color-panel-border-soft10: #dddddd;
  --color-panel-text-soft20: #8c8c8c;
  --color-panel-background-soft20: #e6e6e6;
  --color-panel-border-soft20: #e1e1e1;
  --color-panel-text-hard10: #636363;
  --color-panel-background-hard10: #ffffff;
  --color-panel-border-hard10: #cccccc;
  --color-panel-text-hard20: #575757;
  --color-panel-background-hard20: #ffffff;
  --color-panel-border-hard20: #bfbfbf;
  --color-panel-icon-hover: #737373;
  --color-panel-icon-active: #737373;
  --color-panel-icon-focus: #737373;
  --color-panel-icon-disabled: #b9b9b9;
  --color-panel-icon-soft20: #8f8f8f;
  --color-panel-shadow-soft: 0 1px 3px rgba(0, 0, 0, 0.08399999999999999);
  --color-panel-shadow-hard: 0 1px 3px rgba(0, 0, 0, 0.156);

  --color-panelRaised-background: hsl(220, 15%, 98%);
  --color-panelRaised-text: #6f6f6f;
  --color-panelRaised-border: #d9d9d9;
  --color-panelRaised-link: #11803a;
  --color-panelRaised-icon: #737373;
  --color-panelRaised-link-visited: #11803a;
  --color-panelRaised-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
  --color-panelRaised-icon-hover: #737373;
  --color-panelRaised-icon-active: #737373;
  --color-panelRaised-icon-focus: #737373;
  --color-panelRaised-icon-disabled: #b6b7b7;
  --color-panelRaised-icon-soft20: #8e8e8e;
  --color-panelRaised-shadow-soft: 0 2px 4px rgba(0, 0, 0, 0.06999999999999999);
  --color-panelRaised-shadow-hard: 0 2px 4px rgba(0, 0, 0, 0.13);

  --color-panelElevated-background: hsl(220, 15%, 96%);
  --color-panelElevated-text: #6f6f6f;
  --color-panelElevated-border: #bfbfbf;
  --color-panelElevated-link: #11803a;
  --color-panelElevated-icon: #737373;
  --color-panelElevated-link-visited: #11803a;
  --color-panelElevated-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
  --color-panelElevated-icon-hover: #737373;
  --color-panelElevated-icon-active: #737373;
  --color-panelElevated-icon-focus: #737373;
  --color-panelElevated-icon-disabled: #b3b4b5;
  --color-panelElevated-icon-soft20: #8d8d8d;
  --color-panelElevated-shadow-soft: 0 3px 6px rgba(0, 0, 0, 0.08399999999999999);
  --color-panelElevated-shadow-hard: 0 3px 6px rgba(0, 0, 0, 0.156);

  --color-panelFloating-background: hsl(220, 15%, 94%);
  --color-panelFloating-text: #6c6c6c;
  --color-panelFloating-border: #a6a6a6;
  --color-panelFloating-link: #107d38;
  --color-panelFloating-icon: #737373;
  --color-panelFloating-link-visited: #107d38;
  --color-panelFloating-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  --color-panelFloating-icon-hover: #737373;
  --color-panelFloating-icon-active: #737373;
  --color-panelFloating-icon-focus: #737373;
  --color-panelFloating-icon-disabled: #b0b1b3;
  --color-panelFloating-icon-soft20: #8b8c8c;
  --color-panelFloating-shadow-soft: 0 4px 8px rgba(0, 0, 0, 0.105);
  --color-panelFloating-shadow-hard: 0 4px 8px rgba(0, 0, 0, 0.195);

  --color-buttonPrimary-background: #1cca5b;
  --color-buttonPrimary-text: #ffffff;
  --color-buttonPrimary-border: transparent;
  --color-buttonPrimary-icon: #000000;
  --color-buttonPrimary-background-hover: #159d47;
  --color-buttonPrimary-background-active: #12873d;
  --color-buttonPrimary-background-focus: #1cca5b;
  --color-buttonPrimary-background-disabled: rgba(28, 202, 91, 0.6);
  --color-buttonPrimary-text-hover: #e6e6e6;
  --color-buttonPrimary-text-active: #fdfdfd;
  --color-buttonPrimary-text-focus: #ffffff;
  --color-buttonPrimary-text-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonPrimary-border-hover: transparent;
  --color-buttonPrimary-border-active: transparent;
  --color-buttonPrimary-border-focus: transparent;
  --color-buttonPrimary-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonPrimary-icon-hover: #000000;
  --color-buttonPrimary-icon-active: #000000;
  --color-buttonPrimary-icon-focus: #000000;
  --color-buttonPrimary-icon-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonPrimary-icon-soft20: #062812;

  --color-buttonSecondary-background: transparent;
  --color-buttonSecondary-text: #1cca5b;
  --color-buttonSecondary-border: #1cca5b;
  --color-buttonSecondary-icon: #000000;
  --color-buttonSecondary-background-hover: rgba(28, 202, 91, 0.1);
  --color-buttonSecondary-background-active: rgba(28, 202, 91, 0.1);
  --color-buttonSecondary-background-focus: transparent;
  --color-buttonSecondary-background-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSecondary-text-hover: #1cca5b;
  --color-buttonSecondary-text-active: #1cca5b;
  --color-buttonSecondary-text-focus: #1cca5b;
  --color-buttonSecondary-text-disabled: rgba(28, 202, 91, 0.6);
  --color-buttonSecondary-border-hover: #1cca5b;
  --color-buttonSecondary-border-active: #1cca5b;
  --color-buttonSecondary-border-focus: #1cca5b;
  --color-buttonSecondary-border-disabled: rgba(28, 202, 91, 0.6);
  --color-buttonSecondary-icon-hover: #031409;
  --color-buttonSecondary-icon-active: #041e0e;
  --color-buttonSecondary-icon-focus: #000000;
  --color-buttonSecondary-icon-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSecondary-icon-soft20: rgba(0, 0, 0, 0.8);

  --color-buttonNeutral-background: #e6e6e6;
  --color-buttonNeutral-text: #686868;
  --color-buttonNeutral-border: #bfbfbf;
  --color-buttonNeutral-icon: #000000;
  --color-buttonNeutral-background-hover: #d9d9d9;
  --color-buttonNeutral-background-active: #cccccc;
  --color-buttonNeutral-background-focus: #e6e6e6;
  --color-buttonNeutral-background-disabled: rgba(230, 230, 230, 0.6);
  --color-buttonNeutral-text-hover: #5f5f5f;
  --color-buttonNeutral-text-active: #575757;
  --color-buttonNeutral-text-focus: #686868;
  --color-buttonNeutral-text-disabled: #676767;
  --color-buttonNeutral-border-hover: #bfbfbf;
  --color-buttonNeutral-border-active: #bfbfbf;
  --color-buttonNeutral-border-focus: #bfbfbf;
  --color-buttonNeutral-border-disabled: rgba(191, 191, 191, 0.6);
  --color-buttonNeutral-icon-hover: #000000;
  --color-buttonNeutral-icon-active: #000000;
  --color-buttonNeutral-icon-focus: #000000;
  --color-buttonNeutral-icon-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonNeutral-icon-soft20: #2e2e2e;

  --color-buttonDanger-background: #d90d0d;
  --color-buttonDanger-text: #ffffff;
  --color-buttonDanger-border: transparent;
  --color-buttonDanger-icon: #000000;
  --color-buttonDanger-background-hover: #a90a0a;
  --color-buttonDanger-background-active: #910808;
  --color-buttonDanger-background-focus: #d90d0d;
  --color-buttonDanger-background-disabled: rgba(217, 13, 13, 0.6);
  --color-buttonDanger-text-hover: #e6e6e6;
  --color-buttonDanger-text-active: #d9d9d9;
  --color-buttonDanger-text-focus: #ffffff;
  --color-buttonDanger-text-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonDanger-border-hover: transparent;
  --color-buttonDanger-border-active: transparent;
  --color-buttonDanger-border-focus: transparent;
  --color-buttonDanger-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonDanger-icon-hover: #000000;
  --color-buttonDanger-icon-active: #000000;
  --color-buttonDanger-icon-focus: #000000;
  --color-buttonDanger-icon-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonDanger-icon-soft20: #2b0303;

  --color-buttonSuccess-background: #0dd995;
  --color-buttonSuccess-text: #4e4e4e;
  --color-buttonSuccess-border: transparent;
  --color-buttonSuccess-icon: #000000;
  --color-buttonSuccess-background-hover: #0aa974;
  --color-buttonSuccess-background-active: #089163;
  --color-buttonSuccess-background-focus: #0dd995;
  --color-buttonSuccess-background-disabled: rgba(13, 217, 149, 0.6);
  --color-buttonSuccess-text-hover: #363636;
  --color-buttonSuccess-text-active: #292929;
  --color-buttonSuccess-text-focus: #4e4e4e;
  --color-buttonSuccess-text-disabled: rgba(78, 78, 78, 0.6);
  --color-buttonSuccess-border-hover: transparent;
  --color-buttonSuccess-border-active: transparent;
  --color-buttonSuccess-border-focus: transparent;
  --color-buttonSuccess-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSuccess-icon-hover: #000000;
  --color-buttonSuccess-icon-active: #000000;
  --color-buttonSuccess-icon-focus: #000000;
  --color-buttonSuccess-icon-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSuccess-icon-soft20: #032b1e;

  --color-input-background: #ffffff;
  --color-input-text: #6f6f6f;
  --color-input-border: #bfbfbf;
  --color-input-icon: #8c8c8c;
  --color-input-shadow: 0 0 0 3px transparent;
  --color-input-background-hover: #fafafa;
  --color-input-background-active: #ffffff;
  --color-input-background-focus: #d7f9e3;
  --color-input-background-disabled: rgba(255, 255, 255, 0.6);
  --color-input-text-hover: #707070;
  --color-input-text-active: #6f6f6f;
  --color-input-text-focus: #567561;
  --color-input-text-disabled: rgba(111, 111, 111, 0.6);
  --color-input-border-hover: #bfbfbf;
  --color-input-border-active: #bfbfbf;
  --color-input-border-focus: #35e375;
  --color-input-border-disabled: rgba(191, 191, 191, 0.6);
  --color-input-icon-hover: #8c8c8c;
  --color-input-icon-active: #8c8c8c;
  --color-input-icon-focus: #7b9d87;
  --color-input-icon-disabled: rgba(140, 140, 140, 0.6);
  --color-input-icon-soft20: #a3a3a3;
  --color-input-shadow-soft: 0 0 0 3px transparent;
  --color-input-shadow-hard: 0 0 0 3px transparent;

  --color-noticeInfo-background: #e8edf4;
  --color-noticeInfo-text: #03317d;
  --color-noticeInfo-border: #99b6e6;
  --color-noticeInfo-icon: #0559e1;
  --color-noticeInfo-icon-hover: #0559e1;
  --color-noticeInfo-icon-active: #0559e1;
  --color-noticeInfo-icon-focus: #0559e1;
  --color-noticeInfo-icon-disabled: #77a3eb;
  --color-noticeInfo-icon-soft20: #3277e5;

  --color-noticeSuccess-background: #e9f2f1;
  --color-noticeSuccess-text: #077853;
  --color-noticeSuccess-border: #9ce2cb;
  --color-noticeSuccess-icon: #099d6b;
  --color-noticeSuccess-icon-hover: #099d6b;
  --color-noticeSuccess-icon-active: #099d6b;
  --color-noticeSuccess-icon-focus: #099d6b;
  --color-noticeSuccess-icon-disabled: #79c8ae;
  --color-noticeSuccess-icon-soft20: #36ae86;

  --color-noticeWarning-background: #f2efeb;
  --color-noticeWarning-text: #7e5002;
  --color-noticeWarning-border: #e6cb99;
  --color-noticeWarning-icon: #c37c03;
  --color-noticeWarning-icon-hover: #c37c03;
  --color-noticeWarning-icon-active: #c37c03;
  --color-noticeWarning-icon-focus: #c37c03;
  --color-noticeWarning-icon-disabled: #dbb677;
  --color-noticeWarning-icon-soft20: #cc9331;

  --color-noticeDanger-background: #f1eaec;
  --color-noticeDanger-text: #780707;
  --color-noticeDanger-border: #e29c9c;
  --color-noticeDanger-icon: #d90d0d;
  --color-noticeDanger-icon-hover: #d90d0d;
  --color-noticeDanger-icon-active: #d90d0d;
  --color-noticeDanger-icon-focus: #d90d0d;
  --color-noticeDanger-icon-disabled: #e57c7d;
  --color-noticeDanger-icon-soft20: #de393a;

  --color-codeBlock-background: #f2f2f2;
  --color-codeBlock-text: #6f6f6f;
  --color-codeBlock-border: #d9d9d9;
  --color-codeBlock-text-soft10: #7c7c7c;
  --color-codeBlock-background-soft10: #e6e6e6;
  --color-codeBlock-border-soft10: #dcdcdc;
  --color-codeBlock-text-soft20: #898989;
  --color-codeBlock-background-soft20: #d9d9d9;
  --color-codeBlock-border-soft20: #dedede;

  --color-codeInline-background: #eff5f2;
  --color-codeInline-text: #12813a;
  --color-codeInline-border: #c6ebd4;

  --color-dialog-background: hsl(0, 0%, 100%);
  --color-dialog-text: #6f6f6f;
  --color-dialog-border: #d9d9d9;
  --color-dialog-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  --color-dialog-shadow-soft: 0 8px 32px rgba(0, 0, 0, 0.105);
  --color-dialog-shadow-hard: 0 8px 32px rgba(0, 0, 0, 0.195);

  --color-modal-background: hsl(0, 0%, 100%);
  --color-modal-text: #6f6f6f;
  --color-modal-border: #d9d9d9;
  --color-modal-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  --color-modal-shadow-soft: 0 20px 60px rgba(0, 0, 0, 0.21);
  --color-modal-shadow-hard: 0 20px 60px rgba(0, 0, 0, 0.39);

  --color-tooltip-background: #404040;
  --color-tooltip-text: #ffffff;
  --color-tooltip-border: transparent;
  --color-tooltip-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  --color-tooltip-text-soft10: #ececec;
  --color-tooltip-background-soft10: #333333;
  --color-tooltip-border-soft10: rgba(64, 64, 64, 0.1);
  --color-tooltip-text-soft20: #d9d9d9;
  --color-tooltip-background-soft20: #262626;
  --color-tooltip-border-soft20: rgba(64, 64, 64, 0.2);
  --color-tooltip-shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.13999999999999999);
  --color-tooltip-shadow-hard: 0 2px 8px rgba(0, 0, 0, 0.26);

  --color-menu-background: hsl(220, 15%, 94%);
  --color-menu-text: #6c6c6c;
  --color-menu-border: #d9d9d9;
  --color-menu-link: #107d38;
  --color-menu-icon: #737373;
  --color-menu-link-visited: #107d38;
  --color-menu-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  --color-menu-link-hover: #137e3a;
  --color-menu-link-active: #107d38;
  --color-menu-link-focus: #107d38;
  --color-menu-link-disabled: #107d38;
  --color-menu-background-hover: #dbeee6;
  --color-menu-background-active: hsl(220, 15%, 94%);
  --color-menu-background-focus: hsl(220, 15%, 94%);
  --color-menu-background-disabled: hsl(220, 15%, 94%);
  --color-menu-text-hover: #5e6e64;
  --color-menu-text-active: #6c6c6c;
  --color-menu-text-focus: #6c6c6c;
  --color-menu-text-disabled: #6c6c6c;
  --color-menu-border-hover: #c9dacf;
  --color-menu-border-active: #d9d9d9;
  --color-menu-border-focus: #d9d9d9;
  --color-menu-border-disabled: #d9d9d9;
  --color-menu-icon-hover: #6d7e73;
  --color-menu-icon-active: #737373;
  --color-menu-icon-focus: #737373;
  --color-menu-icon-disabled: #737373;
  --color-menu-icon-soft20: #8b8c8c;
  --color-menu-shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.105);
  --color-menu-shadow-hard: 0 2px 8px rgba(0, 0, 0, 0.195);
  --color-menu-link-visited-hover: #137e3a;
  --color-menu-link-visited-active: #107d38;
  --color-menu-link-visited-focus: #107d38;

  --color-overlay-background: rgba(255, 255, 255, 0.95);
  --color-overlay-text: #6f6f6f;
  --color-overlay-border: transparent;

  --color-overlayDark-background: rgba(0, 0, 0, 0.5);
  --color-overlayDark-text: #ffffff;
  --color-overlayDark-border: transparent;

  /* Special tokens */
  --color-selection-background: #c6ebd4;
  --color-selection-text: #113b21;
  --focus-ring-color: #35e375;
  --focus-ring-offset: 2px;
  --color-overlay-background: rgba(255, 255, 255, 0.95);
  --color-backdrop-background: rgba(0, 0, 0, 0.5);
}

/* Accessibility adjustments:
 * body.text: #6f6f6f → #6e6e6e
 *   Reason: Adjusted to meet AA contrast ratio (4.5:1) against body.background
 * body.link: #11803a → #11803a
 *   Reason: Adjusted to meet AA contrast ratio (4.5:1) against body.background
 * buttonPrimary.text: #ffffff → #ffffff
 *   Reason: Adjusted to meet AA contrast ratio (3:1) against buttonPrimary.background
 */