/* Generated theme: Forest (dark mode) */
/* Generated: 2025-07-25T23:32:55.201Z */
/* WCAG AA compliant */

@import '../styles.css';

[data-theme="forest"][data-theme-type="dark"] {
  /* Surface tokens */
  --color-body-background: hsl(220, 15%, 6%);
  --color-body-text: #7b7b7b;
  --color-body-border: #404040;
  --color-body-link: #62ea94;
  --color-body-icon: #a6a6a6;
  --color-body-link-visited: #62ea94;
  --color-body-text-soft10: #707071;
  --color-body-background-soft10: #181b21;
  --color-body-border-soft10: #3b3b3b;
  --color-body-text-soft20: #656566;
  --color-body-background-soft20: #22272f;
  --color-body-border-soft20: #363637;
  --color-body-text-soft30: #5a5b5c;
  --color-body-background-soft30: #2d343e;
  --color-body-border-soft30: #313132;
  --color-body-text-soft40: #4f5051;
  --color-body-background-soft40: #38404d;
  --color-body-border-soft40: #2c2c2e;
  --color-body-text-hard10: #878787;
  --color-body-background-hard10: #020203;
  --color-body-border-hard10: #4d4d4d;
  --color-body-text-hard20: #949494;
  --color-body-background-hard20: #000000;
  --color-body-border-hard20: #595959;
  --color-body-link-hover: #6feb9d;
  --color-body-link-active: #78eda3;
  --color-body-link-focus: #62ea94;
  --color-body-link-disabled: rgba(98, 234, 148, 0.5);
  --color-body-background-hover: #13161b;
  --color-body-background-active: #171b21;
  --color-body-background-focus: hsl(220, 15%, 6%);
  --color-body-background-disabled: rgba(13, 15, 18, 0.5);
  --color-body-text-hover: #7e7e7e;
  --color-body-text-active: #828282;
  --color-body-text-focus: #7b7b7b;
  --color-body-text-disabled: rgba(123, 123, 123, 0.5);
  --color-body-border-hover: #404040;
  --color-body-border-active: #404040;
  --color-body-border-focus: #404040;
  --color-body-border-disabled: rgba(64, 64, 64, 0.5);
  --color-body-icon-hover: #a6a6a6;
  --color-body-icon-active: #a6a6a6;
  --color-body-icon-focus: #a6a6a6;
  --color-body-icon-disabled: rgba(166, 166, 166, 0.5);
  --color-body-icon-soft20: #878888;
  --color-body-link-visited-hover: #6feb9d;
  --color-body-link-visited-active: #78eda3;
  --color-body-link-visited-focus: #62ea94;

  --color-panel-background: hsl(0, 0%, 0%);
  --color-panel-text: #7b7b7b;
  --color-panel-border: #404040;
  --color-panel-link: #62ea94;
  --color-panel-icon: #a6a6a6;
  --color-panel-link-visited: #62ea94;
  --color-panel-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  --color-panel-text-soft10: #6f6f6f;
  --color-panel-background-soft10: #0d0d0d;
  --color-panel-border-soft10: #3a3a3a;
  --color-panel-text-soft20: #626262;
  --color-panel-background-soft20: #1a1a1a;
  --color-panel-border-soft20: #333333;
  --color-panel-text-hard10: #878787;
  --color-panel-background-hard10: #000000;
  --color-panel-border-hard10: #4d4d4d;
  --color-panel-text-hard20: #949494;
  --color-panel-background-hard20: #000000;
  --color-panel-border-hard20: #595959;
  --color-panel-icon-hover: #a6a6a6;
  --color-panel-icon-active: #a6a6a6;
  --color-panel-icon-focus: #a6a6a6;
  --color-panel-icon-disabled: #535353;
  --color-panel-icon-soft20: #858585;
  --color-panel-shadow-soft: 0 1px 3px rgba(0, 0, 0, 0.08399999999999999);
  --color-panel-shadow-hard: 0 1px 3px rgba(0, 0, 0, 0.156);

  --color-panelRaised-background: hsl(220, 15%, 8%);
  --color-panelRaised-text: #7e7e7e;
  --color-panelRaised-border: #404040;
  --color-panelRaised-link: #62ea94;
  --color-panelRaised-icon: #a6a6a6;
  --color-panelRaised-link-visited: #62ea94;
  --color-panelRaised-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
  --color-panelRaised-icon-hover: #a6a6a6;
  --color-panelRaised-icon-active: #a6a6a6;
  --color-panelRaised-icon-focus: #a6a6a6;
  --color-panelRaised-icon-disabled: #5c5d5f;
  --color-panelRaised-icon-soft20: #888989;
  --color-panelRaised-shadow-soft: 0 2px 4px rgba(0, 0, 0, 0.06999999999999999);
  --color-panelRaised-shadow-hard: 0 2px 4px rgba(0, 0, 0, 0.13);

  --color-panelElevated-background: hsl(220, 15%, 11%);
  --color-panelElevated-text: #828282;
  --color-panelElevated-border: #595959;
  --color-panelElevated-link: #62ea94;
  --color-panelElevated-icon: #a6a6a6;
  --color-panelElevated-link-visited: #62ea94;
  --color-panelElevated-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
  --color-panelElevated-icon-hover: #a6a6a6;
  --color-panelElevated-icon-active: #a6a6a6;
  --color-panelElevated-icon-focus: #a6a6a6;
  --color-panelElevated-icon-disabled: #5f6163;
  --color-panelElevated-icon-soft20: #8a8a8b;
  --color-panelElevated-shadow-soft: 0 3px 6px rgba(0, 0, 0, 0.08399999999999999);
  --color-panelElevated-shadow-hard: 0 3px 6px rgba(0, 0, 0, 0.156);

  --color-panelFloating-background: hsl(220, 15%, 15%);
  --color-panelFloating-text: #8a8a8a;
  --color-panelFloating-border: #737373;
  --color-panelFloating-link: #62ea94;
  --color-panelFloating-icon: #a6a6a6;
  --color-panelFloating-link-visited: #62ea94;
  --color-panelFloating-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  --color-panelFloating-icon-hover: #a6a6a6;
  --color-panelFloating-icon-active: #a6a6a6;
  --color-panelFloating-icon-focus: #a6a6a6;
  --color-panelFloating-icon-disabled: #646569;
  --color-panelFloating-icon-soft20: #8b8c8e;
  --color-panelFloating-shadow-soft: 0 4px 8px rgba(0, 0, 0, 0.105);
  --color-panelFloating-shadow-hard: 0 4px 8px rgba(0, 0, 0, 0.195);

  --color-buttonPrimary-background: #1cca5b;
  --color-buttonPrimary-text: #ffffff;
  --color-buttonPrimary-border: transparent;
  --color-buttonPrimary-icon: #000000;
  --color-buttonPrimary-background-hover: #159d47;
  --color-buttonPrimary-background-active: #12873d;
  --color-buttonPrimary-background-focus: #1cca5b;
  --color-buttonPrimary-background-disabled: rgba(28, 202, 91, 0.6);
  --color-buttonPrimary-text-hover: #e6e6e6;
  --color-buttonPrimary-text-active: #fdfdfd;
  --color-buttonPrimary-text-focus: #ffffff;
  --color-buttonPrimary-text-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonPrimary-border-hover: transparent;
  --color-buttonPrimary-border-active: transparent;
  --color-buttonPrimary-border-focus: transparent;
  --color-buttonPrimary-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonPrimary-icon-hover: #000000;
  --color-buttonPrimary-icon-active: #000000;
  --color-buttonPrimary-icon-focus: #000000;
  --color-buttonPrimary-icon-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonPrimary-icon-soft20: #062812;

  --color-buttonSecondary-background: transparent;
  --color-buttonSecondary-text: #1cca5b;
  --color-buttonSecondary-border: #1cca5b;
  --color-buttonSecondary-icon: #000000;
  --color-buttonSecondary-background-hover: rgba(28, 202, 91, 0.1);
  --color-buttonSecondary-background-active: rgba(28, 202, 91, 0.1);
  --color-buttonSecondary-background-focus: transparent;
  --color-buttonSecondary-background-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSecondary-text-hover: #1cca5b;
  --color-buttonSecondary-text-active: #1cca5b;
  --color-buttonSecondary-text-focus: #1cca5b;
  --color-buttonSecondary-text-disabled: rgba(28, 202, 91, 0.6);
  --color-buttonSecondary-border-hover: #1cca5b;
  --color-buttonSecondary-border-active: #1cca5b;
  --color-buttonSecondary-border-focus: #1cca5b;
  --color-buttonSecondary-border-disabled: rgba(28, 202, 91, 0.6);
  --color-buttonSecondary-icon-hover: #031409;
  --color-buttonSecondary-icon-active: #041e0e;
  --color-buttonSecondary-icon-focus: #000000;
  --color-buttonSecondary-icon-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSecondary-icon-soft20: rgba(0, 0, 0, 0.8);

  --color-buttonNeutral-background: #404040;
  --color-buttonNeutral-text: #aaaaaa;
  --color-buttonNeutral-border: #737373;
  --color-buttonNeutral-icon: #8b8b8b;
  --color-buttonNeutral-background-hover: #4d4d4d;
  --color-buttonNeutral-background-active: #595959;
  --color-buttonNeutral-background-focus: #404040;
  --color-buttonNeutral-background-disabled: rgba(64, 64, 64, 0.6);
  --color-buttonNeutral-text-hover: #bbbbbb;
  --color-buttonNeutral-text-active: #cfcfcf;
  --color-buttonNeutral-text-focus: #aaaaaa;
  --color-buttonNeutral-text-disabled: #acacac;
  --color-buttonNeutral-border-hover: #737373;
  --color-buttonNeutral-border-active: #737373;
  --color-buttonNeutral-border-focus: #737373;
  --color-buttonNeutral-border-disabled: rgba(115, 115, 115, 0.6);
  --color-buttonNeutral-icon-hover: #8c8c8c;
  --color-buttonNeutral-icon-active: #8c8c8c;
  --color-buttonNeutral-icon-focus: #8b8b8b;
  --color-buttonNeutral-icon-disabled: rgba(139, 139, 139, 0.6);
  --color-buttonNeutral-icon-soft20: #7c7c7c;

  --color-buttonDanger-background: #d90d0d;
  --color-buttonDanger-text: #ffffff;
  --color-buttonDanger-border: transparent;
  --color-buttonDanger-icon: #000000;
  --color-buttonDanger-background-hover: #a90a0a;
  --color-buttonDanger-background-active: #910808;
  --color-buttonDanger-background-focus: #d90d0d;
  --color-buttonDanger-background-disabled: rgba(217, 13, 13, 0.6);
  --color-buttonDanger-text-hover: #e6e6e6;
  --color-buttonDanger-text-active: #d9d9d9;
  --color-buttonDanger-text-focus: #ffffff;
  --color-buttonDanger-text-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonDanger-border-hover: transparent;
  --color-buttonDanger-border-active: transparent;
  --color-buttonDanger-border-focus: transparent;
  --color-buttonDanger-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonDanger-icon-hover: #000000;
  --color-buttonDanger-icon-active: #000000;
  --color-buttonDanger-icon-focus: #000000;
  --color-buttonDanger-icon-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonDanger-icon-soft20: #2b0303;

  --color-buttonSuccess-background: #0dd995;
  --color-buttonSuccess-text: #4e4e4e;
  --color-buttonSuccess-border: transparent;
  --color-buttonSuccess-icon: #000000;
  --color-buttonSuccess-background-hover: #0aa974;
  --color-buttonSuccess-background-active: #089163;
  --color-buttonSuccess-background-focus: #0dd995;
  --color-buttonSuccess-background-disabled: rgba(13, 217, 149, 0.6);
  --color-buttonSuccess-text-hover: #363636;
  --color-buttonSuccess-text-active: #292929;
  --color-buttonSuccess-text-focus: #4e4e4e;
  --color-buttonSuccess-text-disabled: rgba(78, 78, 78, 0.6);
  --color-buttonSuccess-border-hover: transparent;
  --color-buttonSuccess-border-active: transparent;
  --color-buttonSuccess-border-focus: transparent;
  --color-buttonSuccess-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSuccess-icon-hover: #000000;
  --color-buttonSuccess-icon-active: #000000;
  --color-buttonSuccess-icon-focus: #000000;
  --color-buttonSuccess-icon-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSuccess-icon-soft20: #032b1e;

  --color-input-background: hsl(0, 0%, 0%);
  --color-input-text: #7b7b7b;
  --color-input-border: #595959;
  --color-input-icon: #8c8c8c;
  --color-input-shadow: 0 0 0 3px transparent;
  --color-input-background-hover: #050505;
  --color-input-background-active: hsl(0, 0%, 0%);
  --color-input-background-focus: #0b2d17;
  --color-input-background-disabled: rgba(0, 0, 0, 0.6);
  --color-input-text-hover: #7a7a7a;
  --color-input-text-active: #7b7b7b;
  --color-input-text-focus: #72957f;
  --color-input-text-disabled: rgba(123, 123, 123, 0.6);
  --color-input-border-hover: #595959;
  --color-input-border-active: #595959;
  --color-input-border-focus: #62ea94;
  --color-input-border-disabled: rgba(89, 89, 89, 0.6);
  --color-input-icon-hover: #8c8c8c;
  --color-input-icon-active: #8c8c8c;
  --color-input-icon-focus: #7b9d87;
  --color-input-icon-disabled: rgba(140, 140, 140, 0.6);
  --color-input-icon-soft20: #707070;
  --color-input-shadow-soft: 0 0 0 3px transparent;
  --color-input-shadow-hard: 0 0 0 3px transparent;

  --color-noticeInfo-background: #494e56;
  --color-noticeInfo-text: #c2d3f0;
  --color-noticeInfo-border: #0445af;
  --color-noticeInfo-icon: #609cfc;
  --color-noticeInfo-icon-hover: #609cfc;
  --color-noticeInfo-icon-active: #609cfc;
  --color-noticeInfo-icon-focus: #609cfc;
  --color-noticeInfo-icon-disabled: #5575a9;
  --color-noticeInfo-icon-soft20: #5b8cdb;

  --color-noticeSuccess-background: #4a5353;
  --color-noticeSuccess-text: #c4eedf;
  --color-noticeSuccess-border: #0aa974;
  --color-noticeSuccess-icon: #56f5c0;
  --color-noticeSuccess-icon-hover: #56f5c0;
  --color-noticeSuccess-icon-active: #56f5c0;
  --color-noticeSuccess-icon-focus: #56f5c0;
  --color-noticeSuccess-icon-disabled: #50a48a;
  --color-noticeSuccess-icon-soft20: #54d5aa;

  --color-noticeWarning-background: #53504d;
  --color-noticeWarning-text: #f0dec2;
  --color-noticeWarning-border: #b07003;
  --color-noticeWarning-icon: #fcbd4f;
  --color-noticeWarning-icon-hover: #fcbd4f;
  --color-noticeWarning-icon-active: #fcbd4f;
  --color-noticeWarning-icon-focus: #fcbd4f;
  --color-noticeWarning-icon-disabled: #a8874e;
  --color-noticeWarning-icon-soft20: #daa74f;

  --color-noticeDanger-background: #524b4d;
  --color-noticeDanger-text: #eec4c4;
  --color-noticeDanger-border: #a90a0a;
  --color-noticeDanger-icon: #f66d6d;
  --color-noticeDanger-icon-hover: #f66d6d;
  --color-noticeDanger-icon-active: #f66d6d;
  --color-noticeDanger-icon-focus: #f66d6d;
  --color-noticeDanger-icon-disabled: #a45c5d;
  --color-noticeDanger-icon-soft20: #d56667;

  --color-codeBlock-background: #262626;
  --color-codeBlock-text: #8c8c8c;
  --color-codeBlock-border: #404040;
  --color-codeBlock-text-soft10: #828282;
  --color-codeBlock-background-soft10: #333333;
  --color-codeBlock-border-soft10: #3d3d3d;
  --color-codeBlock-text-soft20: #787878;
  --color-codeBlock-background-soft20: #404040;
  --color-codeBlock-border-soft20: #3b3b3b;

  --color-codeInline-background: #092012;
  --color-codeInline-text: #a1deb7;
  --color-codeInline-border: #0f7133;

  --color-dialog-background: hsl(0, 0%, 0%);
  --color-dialog-text: #7b7b7b;
  --color-dialog-border: #404040;
  --color-dialog-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  --color-dialog-shadow-soft: 0 8px 32px rgba(0, 0, 0, 0.105);
  --color-dialog-shadow-hard: 0 8px 32px rgba(0, 0, 0, 0.195);

  --color-modal-background: hsl(0, 0%, 0%);
  --color-modal-text: #7b7b7b;
  --color-modal-border: #404040;
  --color-modal-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  --color-modal-shadow-soft: 0 20px 60px rgba(0, 0, 0, 0.21);
  --color-modal-shadow-hard: 0 20px 60px rgba(0, 0, 0, 0.39);

  --color-tooltip-background: #d9d9d9;
  --color-tooltip-text: #606060;
  --color-tooltip-border: transparent;
  --color-tooltip-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  --color-tooltip-text-soft10: #6c6c6c;
  --color-tooltip-background-soft10: #e6e6e6;
  --color-tooltip-border-soft10: rgba(217, 217, 217, 0.1);
  --color-tooltip-text-soft20: #787878;
  --color-tooltip-background-soft20: #f2f2f2;
  --color-tooltip-border-soft20: rgba(217, 217, 217, 0.2);
  --color-tooltip-shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.13999999999999999);
  --color-tooltip-shadow-hard: 0 2px 8px rgba(0, 0, 0, 0.26);

  --color-menu-background: hsl(220, 15%, 15%);
  --color-menu-text: #8a8a8a;
  --color-menu-border: #404040;
  --color-menu-link: #62ea94;
  --color-menu-icon: #a6a6a6;
  --color-menu-link-visited: #62ea94;
  --color-menu-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  --color-menu-link-hover: #5ee991;
  --color-menu-link-active: #62ea94;
  --color-menu-link-focus: #62ea94;
  --color-menu-link-disabled: #62ea94;
  --color-menu-background-hover: #233733;
  --color-menu-background-active: hsl(220, 15%, 15%);
  --color-menu-background-focus: hsl(220, 15%, 15%);
  --color-menu-background-disabled: hsl(220, 15%, 15%);
  --color-menu-text-hover: #8e9d93;
  --color-menu-text-active: #8a8a8a;
  --color-menu-text-focus: #8a8a8a;
  --color-menu-text-disabled: #8a8a8a;
  --color-menu-border-hover: #3f5045;
  --color-menu-border-active: #404040;
  --color-menu-border-focus: #404040;
  --color-menu-border-disabled: #404040;
  --color-menu-icon-hover: #9baca1;
  --color-menu-icon-active: #a6a6a6;
  --color-menu-icon-focus: #a6a6a6;
  --color-menu-icon-disabled: #a6a6a6;
  --color-menu-icon-soft20: #8b8c8e;
  --color-menu-shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.105);
  --color-menu-shadow-hard: 0 2px 8px rgba(0, 0, 0, 0.195);
  --color-menu-link-visited-hover: #5ee991;
  --color-menu-link-visited-active: #62ea94;
  --color-menu-link-visited-focus: #62ea94;

  --color-overlay-background: rgba(0, 0, 0, 0.85);
  --color-overlay-text: #7b7b7b;
  --color-overlay-border: transparent;

  --color-overlayDark-background: rgba(0, 0, 0, 0.8);
  --color-overlayDark-text: #ffffff;
  --color-overlayDark-border: transparent;

  /* Special tokens */
  --color-selection-background: #0f7133;
  --color-selection-text: #daf1e3;
  --focus-ring-color: #62ea94;
  --focus-ring-offset: 2px;
  --color-overlay-background: rgba(0, 0, 0, 0.85);
  --color-backdrop-background: rgba(0, 0, 0, 0.8);
}

/* Accessibility adjustments:
 * buttonPrimary.text: #ffffff → #ffffff
 *   Reason: Adjusted to meet AA contrast ratio (3:1) against buttonPrimary.background
 */