/* Generated theme: High Contrast (dark mode) */
/* Generated: 2025-08-01T04:58:48.976Z */
/* WCAG AAA compliant */

@import '../styles.css';

[data-theme="high-contrast"][data-theme-type="dark"] {
  /* Surface tokens */
  --color-body-background: hsl(220, 15%, 6%);
  --color-body-text: #9d9d9d;
  --color-body-border: #404040;
  --color-body-link: #5c9dff;
  --color-body-icon: #a6a6a6;
  --color-body-link-visited: #5c9dff;
  --color-body-text-soft10: #a8a8a8;
  --color-body-background-soft10: #181b21;
  --color-body-border-soft10: #3b3b3b;
  --color-body-text-soft20: #a6a6a6;
  --color-body-background-soft20: #22272f;
  --color-body-border-soft20: #363637;
  --color-body-text-soft30: #a6a6a6;
  --color-body-background-soft30: #2d343e;
  --color-body-border-soft30: #313132;
  --color-body-text-soft40: #a2a3a4;
  --color-body-background-soft40: #38404d;
  --color-body-border-soft40: #2c2c2e;
  --color-body-text-hard10: #ababab;
  --color-body-background-hard10: #020203;
  --color-body-border-hard10: #4d4d4d;
  --color-body-text-hard20: #b8b8b8;
  --color-body-background-hard20: #000000;
  --color-body-border-hard20: #595959;
  --color-body-link-hover: #6ba6ff;
  --color-body-link-active: #75acff;
  --color-body-link-focus: #5c9dff;
  --color-body-link-disabled: rgba(92, 157, 255, 0.5);
  --color-body-background-hover: #13161b;
  --color-body-background-active: #171b21;
  --color-body-background-focus: hsl(220, 15%, 6%);
  --color-body-background-disabled: rgba(13, 15, 18, 0.5);
  --color-body-text-hover: #a0a0a0;
  --color-body-text-active: #a6a6a6;
  --color-body-text-focus: #9d9d9d;
  --color-body-text-disabled: rgba(157, 157, 157, 0.5);
  --color-body-border-hover: #404040;
  --color-body-border-active: #404040;
  --color-body-border-focus: #404040;
  --color-body-border-disabled: rgba(64, 64, 64, 0.5);
  --color-body-icon-hover: #a6a6a6;
  --color-body-icon-active: #a6a6a6;
  --color-body-icon-focus: #a6a6a6;
  --color-body-icon-disabled: rgba(166, 166, 166, 0.5);
  --color-body-icon-soft20: #878888;
  --color-body-link-visited-hover: #6ba6ff;
  --color-body-link-visited-active: #75acff;
  --color-body-link-visited-focus: #5c9dff;

  --color-panel-background: hsl(0, 0%, 0%);
  --color-panel-text: #9d9d9d;
  --color-panel-border: #404040;
  --color-panel-link: #5c9dff;
  --color-panel-icon: #a6a6a6;
  --color-panel-link-visited: #5c9dff;
  --color-panel-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  --color-panel-text-soft10: #999999;
  --color-panel-background-soft10: #0d0d0d;
  --color-panel-border-soft10: #3a3a3a;
  --color-panel-text-soft20: #969696;
  --color-panel-background-soft20: #1a1a1a;
  --color-panel-border-soft20: #333333;
  --color-panel-text-soft30: #a1a1a1;
  --color-panel-background-soft30: #262626;
  --color-panel-border-soft30: #2d2d2d;
  --color-panel-text-soft40: #9e9e9e;
  --color-panel-background-soft40: #333333;
  --color-panel-border-soft40: #262626;
  --color-panel-text-hard10: #ababab;
  --color-panel-background-hard10: #000000;
  --color-panel-border-hard10: #4d4d4d;
  --color-panel-text-hard20: #b8b8b8;
  --color-panel-background-hard20: #000000;
  --color-panel-border-hard20: #595959;
  --color-panel-icon-hover: #a6a6a6;
  --color-panel-icon-active: #a6a6a6;
  --color-panel-icon-focus: #a6a6a6;
  --color-panel-icon-disabled: #535353;
  --color-panel-icon-soft20: #858585;
  --color-panel-shadow-soft: 0 1px 3px rgba(0, 0, 0, 0.08399999999999999);
  --color-panel-shadow-hard: 0 1px 3px rgba(0, 0, 0, 0.156);

  --color-panelRaised-background: hsl(220, 15%, 8%);
  --color-panelRaised-text: #9f9f9f;
  --color-panelRaised-border: #404040;
  --color-panelRaised-link: #609fff;
  --color-panelRaised-icon: #a6a6a6;
  --color-panelRaised-link-visited: #609fff;
  --color-panelRaised-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
  --color-panelRaised-icon-hover: #a6a6a6;
  --color-panelRaised-icon-active: #a6a6a6;
  --color-panelRaised-icon-focus: #a6a6a6;
  --color-panelRaised-icon-disabled: #5c5d5f;
  --color-panelRaised-icon-soft20: #888989;
  --color-panelRaised-shadow-soft: 0 2px 4px rgba(0, 0, 0, 0.06999999999999999);
  --color-panelRaised-shadow-hard: 0 2px 4px rgba(0, 0, 0, 0.13);

  --color-panelElevated-background: hsl(220, 15%, 11%);
  --color-panelElevated-text: #a6a6a6;
  --color-panelElevated-border: #595959;
  --color-panelElevated-link: #6ca7ff;
  --color-panelElevated-icon: #a6a6a6;
  --color-panelElevated-link-visited: #6ca7ff;
  --color-panelElevated-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
  --color-panelElevated-icon-hover: #a6a6a6;
  --color-panelElevated-icon-active: #a6a6a6;
  --color-panelElevated-icon-focus: #a6a6a6;
  --color-panelElevated-icon-disabled: #5f6163;
  --color-panelElevated-icon-soft20: #8a8a8b;
  --color-panelElevated-shadow-soft: 0 3px 6px rgba(0, 0, 0, 0.08399999999999999);
  --color-panelElevated-shadow-hard: 0 3px 6px rgba(0, 0, 0, 0.156);

  --color-panelFloating-background: hsl(220, 15%, 15%);
  --color-panelFloating-text: #aeaeae;
  --color-panelFloating-border: #737373;
  --color-panelFloating-link: #7cb0ff;
  --color-panelFloating-icon: #a6a6a6;
  --color-panelFloating-link-visited: #7cb0ff;
  --color-panelFloating-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  --color-panelFloating-icon-hover: #a6a6a6;
  --color-panelFloating-icon-active: #a6a6a6;
  --color-panelFloating-icon-focus: #a6a6a6;
  --color-panelFloating-icon-disabled: #646569;
  --color-panelFloating-icon-soft20: #8b8c8e;
  --color-panelFloating-shadow-soft: 0 4px 8px rgba(0, 0, 0, 0.105);
  --color-panelFloating-shadow-hard: 0 4px 8px rgba(0, 0, 0, 0.195);

  --color-buttonPrimary-background: #005ce6;
  --color-buttonPrimary-text: #ffffff;
  --color-buttonPrimary-border: transparent;
  --color-buttonPrimary-icon: #ffffff;
  --color-buttonPrimary-background-hover: #0047b3;
  --color-buttonPrimary-background-active: #003d99;
  --color-buttonPrimary-background-focus: #005ce6;
  --color-buttonPrimary-background-disabled: rgba(0, 92, 230, 0.6);
  --color-buttonPrimary-text-hover: #ededed;
  --color-buttonPrimary-text-active: #dadada;
  --color-buttonPrimary-text-focus: #ffffff;
  --color-buttonPrimary-text-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonPrimary-border-hover: transparent;
  --color-buttonPrimary-border-active: transparent;
  --color-buttonPrimary-border-focus: transparent;
  --color-buttonPrimary-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonPrimary-icon-hover: #e6e6e6;
  --color-buttonPrimary-icon-active: #d9d9d9;
  --color-buttonPrimary-icon-focus: #ffffff;
  --color-buttonPrimary-icon-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonPrimary-icon-soft20: #ccdefa;

  --color-buttonSecondary-background: transparent;
  --color-buttonSecondary-text: #005ce6;
  --color-buttonSecondary-border: #005ce6;
  --color-buttonSecondary-icon: #005ce6;
  --color-buttonSecondary-background-hover: rgba(0, 92, 230, 0.1);
  --color-buttonSecondary-background-active: rgba(0, 92, 230, 0.1);
  --color-buttonSecondary-background-focus: transparent;
  --color-buttonSecondary-background-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSecondary-text-hover: #005ce6;
  --color-buttonSecondary-text-active: #005ce6;
  --color-buttonSecondary-text-focus: #005ce6;
  --color-buttonSecondary-text-disabled: #4e95ff;
  --color-buttonSecondary-border-hover: #005ce6;
  --color-buttonSecondary-border-active: #005ce6;
  --color-buttonSecondary-border-focus: #005ce6;
  --color-buttonSecondary-border-disabled: rgba(0, 92, 230, 0.6);
  --color-buttonSecondary-icon-hover: #005ce6;
  --color-buttonSecondary-icon-active: #005ce6;
  --color-buttonSecondary-icon-focus: #005ce6;
  --color-buttonSecondary-icon-disabled: rgba(0, 92, 230, 0.6);
  --color-buttonSecondary-icon-soft20: rgba(0, 92, 230, 0.8);

  --color-buttonNeutral-background: #404040;
  --color-buttonNeutral-text: #d3d3d3;
  --color-buttonNeutral-border: #737373;
  --color-buttonNeutral-icon: #d3d3d3;
  --color-buttonNeutral-background-hover: #4d4d4d;
  --color-buttonNeutral-background-active: #595959;
  --color-buttonNeutral-background-focus: #404040;
  --color-buttonNeutral-background-disabled: rgba(64, 64, 64, 0.6);
  --color-buttonNeutral-text-hover: #eaeaea;
  --color-buttonNeutral-text-active: #ffffff;
  --color-buttonNeutral-text-focus: #d3d3d3;
  --color-buttonNeutral-text-disabled: #d5d5d5;
  --color-buttonNeutral-border-hover: #737373;
  --color-buttonNeutral-border-active: #737373;
  --color-buttonNeutral-border-focus: #737373;
  --color-buttonNeutral-border-disabled: rgba(115, 115, 115, 0.6);
  --color-buttonNeutral-icon-hover: #d4d4d4;
  --color-buttonNeutral-icon-active: #d4d4d4;
  --color-buttonNeutral-icon-focus: #d3d3d3;
  --color-buttonNeutral-icon-disabled: rgba(211, 211, 211, 0.6);
  --color-buttonNeutral-icon-soft20: #b6b6b6;

  --color-buttonDanger-background: #d31212;
  --color-buttonDanger-text: #ffffff;
  --color-buttonDanger-border: transparent;
  --color-buttonDanger-icon: #ffffff;
  --color-buttonDanger-background-hover: #a40e0e;
  --color-buttonDanger-background-active: #8d0c0c;
  --color-buttonDanger-background-focus: #d31212;
  --color-buttonDanger-background-disabled: rgba(211, 18, 18, 0.6);
  --color-buttonDanger-text-hover: #f1f1f1;
  --color-buttonDanger-text-active: #dddddd;
  --color-buttonDanger-text-focus: #ffffff;
  --color-buttonDanger-text-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonDanger-border-hover: transparent;
  --color-buttonDanger-border-active: transparent;
  --color-buttonDanger-border-focus: transparent;
  --color-buttonDanger-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonDanger-icon-hover: #e6e6e6;
  --color-buttonDanger-icon-active: #d9d9d9;
  --color-buttonDanger-icon-focus: #ffffff;
  --color-buttonDanger-icon-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonDanger-icon-soft20: #f6d0d0;

  --color-buttonSuccess-background: #12d393;
  --color-buttonSuccess-text: #ffffff;
  --color-buttonSuccess-border: transparent;
  --color-buttonSuccess-icon: #ffffff;
  --color-buttonSuccess-background-hover: #0ea472;
  --color-buttonSuccess-background-active: #0c8d62;
  --color-buttonSuccess-background-focus: #12d393;
  --color-buttonSuccess-background-disabled: rgba(18, 211, 147, 0.6);
  --color-buttonSuccess-text-hover: #e6e6e6;
  --color-buttonSuccess-text-active: #d9d9d9;
  --color-buttonSuccess-text-focus: #ffffff;
  --color-buttonSuccess-text-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonSuccess-border-hover: transparent;
  --color-buttonSuccess-border-active: transparent;
  --color-buttonSuccess-border-focus: transparent;
  --color-buttonSuccess-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSuccess-icon-hover: #e6e6e6;
  --color-buttonSuccess-icon-active: #d9d9d9;
  --color-buttonSuccess-icon-focus: #ffffff;
  --color-buttonSuccess-icon-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonSuccess-icon-soft20: #d0f6e9;

  --color-input-background: hsl(0, 0%, 0%);
  --color-input-text: #9d9d9d;
  --color-input-border: #595959;
  --color-input-icon: #8c8c8c;
  --color-input-shadow: 0 0 0 3px transparent;
  --color-input-background-hover: #050505;
  --color-input-background-active: hsl(0, 0%, 0%);
  --color-input-background-focus: #051733;
  --color-input-background-disabled: rgba(0, 0, 0, 0.6);
  --color-input-text-hover: #9e9e9e;
  --color-input-text-active: #9d9d9d;
  --color-input-text-focus: #95a4bd;
  --color-input-text-disabled: rgba(157, 157, 157, 0.6);
  --color-input-border-hover: #595959;
  --color-input-border-active: #595959;
  --color-input-border-focus: #4d94ff;
  --color-input-border-disabled: rgba(89, 89, 89, 0.6);
  --color-input-icon-hover: #8c8c8c;
  --color-input-icon-active: #8c8c8c;
  --color-input-icon-focus: #7587a3;
  --color-input-icon-disabled: rgba(140, 140, 140, 0.6);
  --color-input-icon-soft20: #707070;
  --color-input-shadow-soft: 0 0 0 3px transparent;
  --color-input-shadow-hard: 0 0 0 3px transparent;

  --color-noticeInfo-background: #0d1420;
  --color-noticeInfo-text: #c4d4ee;
  --color-noticeInfo-border: #0846aa;
  --color-noticeInfo-icon: #5593f7;
  --color-noticeInfo-icon-hover: #5593f7;
  --color-noticeInfo-icon-active: #5593f7;
  --color-noticeInfo-icon-focus: #5593f7;
  --color-noticeInfo-icon-disabled: #31548c;
  --color-noticeInfo-icon-soft20: #477acc;

  --color-noticeSuccess-background: #0e1d1a;
  --color-noticeSuccess-text: #c6ecdf;
  --color-noticeSuccess-border: #0ea472;
  --color-noticeSuccess-icon: #5bf1bf;
  --color-noticeSuccess-icon-hover: #5bf1bf;
  --color-noticeSuccess-icon-active: #5bf1bf;
  --color-noticeSuccess-icon-focus: #5bf1bf;
  --color-noticeSuccess-icon-disabled: #35876d;
  --color-noticeSuccess-icon-soft20: #4cc79e;

  --color-noticeWarning-background: #1c1811;
  --color-noticeWarning-text: #eedec4;
  --color-noticeWarning-border: #ab6f07;
  --color-noticeWarning-icon: #f8bc54;
  --color-noticeWarning-icon-hover: #f8bc54;
  --color-noticeWarning-icon-active: #f8bc54;
  --color-noticeWarning-icon-focus: #f8bc54;
  --color-noticeWarning-icon-disabled: #8a6a33;
  --color-noticeWarning-icon-soft20: #cc9b47;

  --color-noticeDanger-background: #1b0f11;
  --color-noticeDanger-text: #ecc6c6;
  --color-noticeDanger-border: #a40e0e;
  --color-noticeDanger-icon: #f15b5b;
  --color-noticeDanger-icon-hover: #f15b5b;
  --color-noticeDanger-icon-active: #f15b5b;
  --color-noticeDanger-icon-focus: #f15b5b;
  --color-noticeDanger-icon-disabled: #863536;
  --color-noticeDanger-icon-soft20: #c64c4c;

  --color-codeBlock-background: #262626;
  --color-codeBlock-text: #b1b1b1;
  --color-codeBlock-border: #404040;
  --color-codeBlock-text-soft10: #bdbdbd;
  --color-codeBlock-background-soft10: #333333;
  --color-codeBlock-border-soft10: #3d3d3d;
  --color-codeBlock-text-soft20: #bababa;
  --color-codeBlock-background-soft20: #404040;
  --color-codeBlock-border-soft20: #3b3b3b;

  --color-codeInline-background: #061223;
  --color-codeInline-text: #99b8e6;
  --color-codeInline-border: #003380;

  --color-dialog-background: hsl(0, 0%, 0%);
  --color-dialog-text: #9d9d9d;
  --color-dialog-border: #404040;
  --color-dialog-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  --color-dialog-shadow-soft: 0 8px 32px rgba(0, 0, 0, 0.105);
  --color-dialog-shadow-hard: 0 8px 32px rgba(0, 0, 0, 0.195);

  --color-modal-background: hsl(0, 0%, 0%);
  --color-modal-text: #9d9d9d;
  --color-modal-border: #404040;
  --color-modal-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  --color-modal-shadow-soft: 0 20px 60px rgba(0, 0, 0, 0.21);
  --color-modal-shadow-hard: 0 20px 60px rgba(0, 0, 0, 0.39);

  --color-tooltip-background: #d9d9d9;
  --color-tooltip-text: #434343;
  --color-tooltip-border: transparent;
  --color-tooltip-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  --color-tooltip-text-soft10: #d1d1d1;
  --color-tooltip-background-soft10: #e6e6e6;
  --color-tooltip-border-soft10: rgba(217, 217, 217, 0.1);
  --color-tooltip-text-soft20: #e0e0e0;
  --color-tooltip-background-soft20: #f2f2f2;
  --color-tooltip-border-soft20: rgba(217, 217, 217, 0.2);
  --color-tooltip-shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.13999999999999999);
  --color-tooltip-shadow-hard: 0 2px 8px rgba(0, 0, 0, 0.26);

  --color-menu-background: hsl(220, 15%, 15%);
  --color-menu-text: #aeaeae;
  --color-menu-border: #404040;
  --color-menu-link: #7cb0ff;
  --color-menu-icon: #a6a6a6;
  --color-menu-link-visited: #7cb0ff;
  --color-menu-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  --color-menu-link-hover: #7cb0ff;
  --color-menu-link-active: #7cb0ff;
  --color-menu-link-focus: #7cb0ff;
  --color-menu-link-disabled: #7cb0ff;
  --color-menu-background-hover: #202c41;
  --color-menu-background-active: hsl(220, 15%, 15%);
  --color-menu-background-focus: hsl(220, 15%, 15%);
  --color-menu-background-disabled: hsl(220, 15%, 15%);
  --color-menu-text-hover: #b1b9c4;
  --color-menu-text-active: #aeaeae;
  --color-menu-text-focus: #aeaeae;
  --color-menu-text-disabled: #aeaeae;
  --color-menu-border-hover: #3c4553;
  --color-menu-border-active: #404040;
  --color-menu-border-focus: #404040;
  --color-menu-border-disabled: #404040;
  --color-menu-icon-hover: #98a1af;
  --color-menu-icon-active: #a6a6a6;
  --color-menu-icon-focus: #a6a6a6;
  --color-menu-icon-disabled: #a6a6a6;
  --color-menu-icon-soft20: #8b8c8e;
  --color-menu-shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.105);
  --color-menu-shadow-hard: 0 2px 8px rgba(0, 0, 0, 0.195);
  --color-menu-link-visited-hover: #7cb0ff;
  --color-menu-link-visited-active: #7cb0ff;
  --color-menu-link-visited-focus: #7cb0ff;

  --color-overlay-background: rgba(0, 0, 0, 0.85);
  --color-overlay-text: #9d9d9d;
  --color-overlay-border: transparent;

  --color-overlayDark-background: rgba(0, 0, 0, 0.8);
  --color-overlayDark-text: #ffffff;
  --color-overlayDark-border: transparent;

  /* Special tokens */
  --color-selection-background: #003380;
  --color-selection-text: #d6e2f5;
  --focus-ring-color: #4d94ff;
  --focus-ring-offset: 2px;
  --color-overlay-background: rgba(0, 0, 0, 0.85);
  --color-backdrop-background: rgba(0, 0, 0, 0.8);
}