/* Generated theme: Monochrome (dark mode) */
/* Generated: 2025-07-25T23:32:55.216Z */
/* WCAG AA compliant */

@import '../styles.css';

[data-theme="monochrome"][data-theme-type="dark"] {
  /* Surface tokens */
  --color-body-background: hsl(220, 15%, 6%);
  --color-body-text: #7b7b7b;
  --color-body-border: #404040;
  --color-body-link: #a6a6a6;
  --color-body-icon: #a6a6a6;
  --color-body-link-visited: #a6a6a6;
  --color-body-text-soft10: #707071;
  --color-body-background-soft10: #181b21;
  --color-body-border-soft10: #3b3b3b;
  --color-body-text-soft20: #656566;
  --color-body-background-soft20: #22272f;
  --color-body-border-soft20: #363637;
  --color-body-text-soft30: #5a5b5c;
  --color-body-background-soft30: #2d343e;
  --color-body-border-soft30: #313132;
  --color-body-text-soft40: #4f5051;
  --color-body-background-soft40: #38404d;
  --color-body-border-soft40: #2c2c2e;
  --color-body-text-hard10: #878787;
  --color-body-background-hard10: #020203;
  --color-body-border-hard10: #4d4d4d;
  --color-body-text-hard20: #949494;
  --color-body-background-hard20: #000000;
  --color-body-border-hard20: #595959;
  --color-body-link-hover: #adadad;
  --color-body-link-active: #b3b3b3;
  --color-body-link-focus: #a6a6a6;
  --color-body-link-disabled: rgba(166, 166, 166, 0.5);
  --color-body-background-hover: #13161b;
  --color-body-background-active: #171b21;
  --color-body-background-focus: hsl(220, 15%, 6%);
  --color-body-background-disabled: rgba(13, 15, 18, 0.5);
  --color-body-text-hover: #7e7e7e;
  --color-body-text-active: #828282;
  --color-body-text-focus: #7b7b7b;
  --color-body-text-disabled: rgba(123, 123, 123, 0.5);
  --color-body-border-hover: #404040;
  --color-body-border-active: #404040;
  --color-body-border-focus: #404040;
  --color-body-border-disabled: rgba(64, 64, 64, 0.5);
  --color-body-icon-hover: #a6a6a6;
  --color-body-icon-active: #a6a6a6;
  --color-body-icon-focus: #a6a6a6;
  --color-body-icon-disabled: rgba(166, 166, 166, 0.5);
  --color-body-icon-soft20: #878888;
  --color-body-link-visited-hover: #adadad;
  --color-body-link-visited-active: #b3b3b3;
  --color-body-link-visited-focus: #a6a6a6;

  --color-panel-background: hsl(0, 0%, 0%);
  --color-panel-text: #7b7b7b;
  --color-panel-border: #404040;
  --color-panel-link: #a6a6a6;
  --color-panel-icon: #a6a6a6;
  --color-panel-link-visited: #a6a6a6;
  --color-panel-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  --color-panel-text-soft10: #6f6f6f;
  --color-panel-background-soft10: #0d0d0d;
  --color-panel-border-soft10: #3a3a3a;
  --color-panel-text-soft20: #626262;
  --color-panel-background-soft20: #1a1a1a;
  --color-panel-border-soft20: #333333;
  --color-panel-text-hard10: #878787;
  --color-panel-background-hard10: #000000;
  --color-panel-border-hard10: #4d4d4d;
  --color-panel-text-hard20: #949494;
  --color-panel-background-hard20: #000000;
  --color-panel-border-hard20: #595959;
  --color-panel-icon-hover: #a6a6a6;
  --color-panel-icon-active: #a6a6a6;
  --color-panel-icon-focus: #a6a6a6;
  --color-panel-icon-disabled: #535353;
  --color-panel-icon-soft20: #858585;
  --color-panel-shadow-soft: 0 1px 3px rgba(0, 0, 0, 0.08399999999999999);
  --color-panel-shadow-hard: 0 1px 3px rgba(0, 0, 0, 0.156);

  --color-panelRaised-background: hsl(220, 15%, 8%);
  --color-panelRaised-text: #7e7e7e;
  --color-panelRaised-border: #404040;
  --color-panelRaised-link: #a6a6a6;
  --color-panelRaised-icon: #a6a6a6;
  --color-panelRaised-link-visited: #a6a6a6;
  --color-panelRaised-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
  --color-panelRaised-icon-hover: #a6a6a6;
  --color-panelRaised-icon-active: #a6a6a6;
  --color-panelRaised-icon-focus: #a6a6a6;
  --color-panelRaised-icon-disabled: #5c5d5f;
  --color-panelRaised-icon-soft20: #888989;
  --color-panelRaised-shadow-soft: 0 2px 4px rgba(0, 0, 0, 0.06999999999999999);
  --color-panelRaised-shadow-hard: 0 2px 4px rgba(0, 0, 0, 0.13);

  --color-panelElevated-background: hsl(220, 15%, 11%);
  --color-panelElevated-text: #828282;
  --color-panelElevated-border: #595959;
  --color-panelElevated-link: #a6a6a6;
  --color-panelElevated-icon: #a6a6a6;
  --color-panelElevated-link-visited: #a6a6a6;
  --color-panelElevated-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
  --color-panelElevated-icon-hover: #a6a6a6;
  --color-panelElevated-icon-active: #a6a6a6;
  --color-panelElevated-icon-focus: #a6a6a6;
  --color-panelElevated-icon-disabled: #5f6163;
  --color-panelElevated-icon-soft20: #8a8a8b;
  --color-panelElevated-shadow-soft: 0 3px 6px rgba(0, 0, 0, 0.08399999999999999);
  --color-panelElevated-shadow-hard: 0 3px 6px rgba(0, 0, 0, 0.156);

  --color-panelFloating-background: hsl(220, 15%, 15%);
  --color-panelFloating-text: #8a8a8a;
  --color-panelFloating-border: #737373;
  --color-panelFloating-link: #a6a6a6;
  --color-panelFloating-icon: #a6a6a6;
  --color-panelFloating-link-visited: #a6a6a6;
  --color-panelFloating-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  --color-panelFloating-icon-hover: #a6a6a6;
  --color-panelFloating-icon-active: #a6a6a6;
  --color-panelFloating-icon-focus: #a6a6a6;
  --color-panelFloating-icon-disabled: #646569;
  --color-panelFloating-icon-soft20: #8b8c8e;
  --color-panelFloating-shadow-soft: 0 4px 8px rgba(0, 0, 0, 0.105);
  --color-panelFloating-shadow-hard: 0 4px 8px rgba(0, 0, 0, 0.195);

  --color-buttonPrimary-background: #737373;
  --color-buttonPrimary-text: #ffffff;
  --color-buttonPrimary-border: transparent;
  --color-buttonPrimary-icon: #000000;
  --color-buttonPrimary-background-hover: #595959;
  --color-buttonPrimary-background-active: #4d4d4d;
  --color-buttonPrimary-background-focus: #737373;
  --color-buttonPrimary-background-disabled: rgba(115, 115, 115, 0.6);
  --color-buttonPrimary-text-hover: #e6e6e6;
  --color-buttonPrimary-text-active: #d9d9d9;
  --color-buttonPrimary-text-focus: #ffffff;
  --color-buttonPrimary-text-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonPrimary-border-hover: transparent;
  --color-buttonPrimary-border-active: transparent;
  --color-buttonPrimary-border-focus: transparent;
  --color-buttonPrimary-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonPrimary-icon-hover: #000000;
  --color-buttonPrimary-icon-active: #000000;
  --color-buttonPrimary-icon-focus: #000000;
  --color-buttonPrimary-icon-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonPrimary-icon-soft20: #171717;

  --color-buttonSecondary-background: transparent;
  --color-buttonSecondary-text: #737373;
  --color-buttonSecondary-border: #737373;
  --color-buttonSecondary-icon: #000000;
  --color-buttonSecondary-background-hover: rgba(115, 115, 115, 0.1);
  --color-buttonSecondary-background-active: rgba(115, 115, 115, 0.1);
  --color-buttonSecondary-background-focus: transparent;
  --color-buttonSecondary-background-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSecondary-text-hover: #fafafa;
  --color-buttonSecondary-text-active: #fafafa;
  --color-buttonSecondary-text-focus: #737373;
  --color-buttonSecondary-text-disabled: #757575;
  --color-buttonSecondary-border-hover: #737373;
  --color-buttonSecondary-border-active: #737373;
  --color-buttonSecondary-border-focus: #737373;
  --color-buttonSecondary-border-disabled: rgba(115, 115, 115, 0.6);
  --color-buttonSecondary-icon-hover: #0c0c0c;
  --color-buttonSecondary-icon-active: #111111;
  --color-buttonSecondary-icon-focus: #000000;
  --color-buttonSecondary-icon-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSecondary-icon-soft20: rgba(0, 0, 0, 0.8);

  --color-buttonNeutral-background: #404040;
  --color-buttonNeutral-text: #aaaaaa;
  --color-buttonNeutral-border: #737373;
  --color-buttonNeutral-icon: #8b8b8b;
  --color-buttonNeutral-background-hover: #4d4d4d;
  --color-buttonNeutral-background-active: #595959;
  --color-buttonNeutral-background-focus: #404040;
  --color-buttonNeutral-background-disabled: rgba(64, 64, 64, 0.6);
  --color-buttonNeutral-text-hover: #bbbbbb;
  --color-buttonNeutral-text-active: #cfcfcf;
  --color-buttonNeutral-text-focus: #aaaaaa;
  --color-buttonNeutral-text-disabled: #acacac;
  --color-buttonNeutral-border-hover: #737373;
  --color-buttonNeutral-border-active: #737373;
  --color-buttonNeutral-border-focus: #737373;
  --color-buttonNeutral-border-disabled: rgba(115, 115, 115, 0.6);
  --color-buttonNeutral-icon-hover: #8c8c8c;
  --color-buttonNeutral-icon-active: #8c8c8c;
  --color-buttonNeutral-icon-focus: #8b8b8b;
  --color-buttonNeutral-icon-disabled: rgba(139, 139, 139, 0.6);
  --color-buttonNeutral-icon-soft20: #7c7c7c;

  --color-buttonDanger-background: #737373;
  --color-buttonDanger-text: #ffffff;
  --color-buttonDanger-border: transparent;
  --color-buttonDanger-icon: #000000;
  --color-buttonDanger-background-hover: #595959;
  --color-buttonDanger-background-active: #4d4d4d;
  --color-buttonDanger-background-focus: #737373;
  --color-buttonDanger-background-disabled: rgba(115, 115, 115, 0.6);
  --color-buttonDanger-text-hover: #e6e6e6;
  --color-buttonDanger-text-active: #d9d9d9;
  --color-buttonDanger-text-focus: #ffffff;
  --color-buttonDanger-text-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonDanger-border-hover: transparent;
  --color-buttonDanger-border-active: transparent;
  --color-buttonDanger-border-focus: transparent;
  --color-buttonDanger-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonDanger-icon-hover: #000000;
  --color-buttonDanger-icon-active: #000000;
  --color-buttonDanger-icon-focus: #000000;
  --color-buttonDanger-icon-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonDanger-icon-soft20: #171717;

  --color-buttonSuccess-background: #737373;
  --color-buttonSuccess-text: #ffffff;
  --color-buttonSuccess-border: transparent;
  --color-buttonSuccess-icon: #000000;
  --color-buttonSuccess-background-hover: #595959;
  --color-buttonSuccess-background-active: #4d4d4d;
  --color-buttonSuccess-background-focus: #737373;
  --color-buttonSuccess-background-disabled: rgba(115, 115, 115, 0.6);
  --color-buttonSuccess-text-hover: #e6e6e6;
  --color-buttonSuccess-text-active: #d9d9d9;
  --color-buttonSuccess-text-focus: #ffffff;
  --color-buttonSuccess-text-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonSuccess-border-hover: transparent;
  --color-buttonSuccess-border-active: transparent;
  --color-buttonSuccess-border-focus: transparent;
  --color-buttonSuccess-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSuccess-icon-hover: #000000;
  --color-buttonSuccess-icon-active: #000000;
  --color-buttonSuccess-icon-focus: #000000;
  --color-buttonSuccess-icon-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSuccess-icon-soft20: #171717;

  --color-input-background: hsl(0, 0%, 0%);
  --color-input-text: #7b7b7b;
  --color-input-border: #595959;
  --color-input-icon: #8c8c8c;
  --color-input-shadow: 0 0 0 3px transparent;
  --color-input-background-hover: #050505;
  --color-input-background-active: hsl(0, 0%, 0%);
  --color-input-background-focus: #1c1c1c;
  --color-input-background-disabled: rgba(0, 0, 0, 0.6);
  --color-input-text-hover: #7a7a7a;
  --color-input-text-active: #7b7b7b;
  --color-input-text-focus: #838383;
  --color-input-text-disabled: rgba(123, 123, 123, 0.6);
  --color-input-border-hover: #595959;
  --color-input-border-active: #595959;
  --color-input-border-focus: #a6a6a6;
  --color-input-border-disabled: rgba(89, 89, 89, 0.6);
  --color-input-icon-hover: #8c8c8c;
  --color-input-icon-active: #8c8c8c;
  --color-input-icon-focus: #8c8c8c;
  --color-input-icon-disabled: rgba(140, 140, 140, 0.6);
  --color-input-icon-soft20: #707070;
  --color-input-shadow-soft: 0 0 0 3px transparent;
  --color-input-shadow-hard: 0 0 0 3px transparent;

  --color-noticeInfo-background: #4e5052;
  --color-noticeInfo-text: #d9d9d9;
  --color-noticeInfo-border: #595959;
  --color-noticeInfo-icon: #a6a6a6;
  --color-noticeInfo-icon-hover: #a6a6a6;
  --color-noticeInfo-icon-active: #a6a6a6;
  --color-noticeInfo-icon-focus: #a6a6a6;
  --color-noticeInfo-icon-disabled: #7a7b7c;
  --color-noticeInfo-icon-soft20: #949595;

  --color-noticeSuccess-background: #4e5052;
  --color-noticeSuccess-text: #d9d9d9;
  --color-noticeSuccess-border: #595959;
  --color-noticeSuccess-icon: #a6a6a6;
  --color-noticeSuccess-icon-hover: #a6a6a6;
  --color-noticeSuccess-icon-active: #a6a6a6;
  --color-noticeSuccess-icon-focus: #a6a6a6;
  --color-noticeSuccess-icon-disabled: #7a7b7c;
  --color-noticeSuccess-icon-soft20: #949595;

  --color-noticeWarning-background: #4e5052;
  --color-noticeWarning-text: #d9d9d9;
  --color-noticeWarning-border: #595959;
  --color-noticeWarning-icon: #a6a6a6;
  --color-noticeWarning-icon-hover: #a6a6a6;
  --color-noticeWarning-icon-active: #a6a6a6;
  --color-noticeWarning-icon-focus: #a6a6a6;
  --color-noticeWarning-icon-disabled: #7a7b7c;
  --color-noticeWarning-icon-soft20: #949595;

  --color-noticeDanger-background: #4e5052;
  --color-noticeDanger-text: #d9d9d9;
  --color-noticeDanger-border: #595959;
  --color-noticeDanger-icon: #a6a6a6;
  --color-noticeDanger-icon-hover: #a6a6a6;
  --color-noticeDanger-icon-active: #a6a6a6;
  --color-noticeDanger-icon-focus: #a6a6a6;
  --color-noticeDanger-icon-disabled: #7a7b7c;
  --color-noticeDanger-icon-soft20: #949595;

  --color-codeBlock-background: #262626;
  --color-codeBlock-text: #8c8c8c;
  --color-codeBlock-border: #404040;
  --color-codeBlock-text-soft10: #828282;
  --color-codeBlock-background-soft10: #333333;
  --color-codeBlock-border-soft10: #3d3d3d;
  --color-codeBlock-text-soft20: #787878;
  --color-codeBlock-background-soft20: #404040;
  --color-codeBlock-border-soft20: #3b3b3b;

  --color-codeInline-background: #141414;
  --color-codeInline-text: #bfbfbf;
  --color-codeInline-border: #404040;

  --color-dialog-background: hsl(0, 0%, 0%);
  --color-dialog-text: #7b7b7b;
  --color-dialog-border: #404040;
  --color-dialog-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  --color-dialog-shadow-soft: 0 8px 32px rgba(0, 0, 0, 0.105);
  --color-dialog-shadow-hard: 0 8px 32px rgba(0, 0, 0, 0.195);

  --color-modal-background: hsl(0, 0%, 0%);
  --color-modal-text: #7b7b7b;
  --color-modal-border: #404040;
  --color-modal-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  --color-modal-shadow-soft: 0 20px 60px rgba(0, 0, 0, 0.21);
  --color-modal-shadow-hard: 0 20px 60px rgba(0, 0, 0, 0.39);

  --color-tooltip-background: #d9d9d9;
  --color-tooltip-text: #606060;
  --color-tooltip-border: transparent;
  --color-tooltip-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  --color-tooltip-text-soft10: #6c6c6c;
  --color-tooltip-background-soft10: #e6e6e6;
  --color-tooltip-border-soft10: rgba(217, 217, 217, 0.1);
  --color-tooltip-text-soft20: #787878;
  --color-tooltip-background-soft20: #f2f2f2;
  --color-tooltip-border-soft20: rgba(217, 217, 217, 0.2);
  --color-tooltip-shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.13999999999999999);
  --color-tooltip-shadow-hard: 0 2px 8px rgba(0, 0, 0, 0.26);

  --color-menu-background: hsl(220, 15%, 15%);
  --color-menu-text: #8a8a8a;
  --color-menu-border: #404040;
  --color-menu-link: #a6a6a6;
  --color-menu-icon: #a6a6a6;
  --color-menu-link-visited: #a6a6a6;
  --color-menu-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  --color-menu-link-hover: #a3a3a3;
  --color-menu-link-active: #a6a6a6;
  --color-menu-link-focus: #a6a6a6;
  --color-menu-link-disabled: #a6a6a6;
  --color-menu-background-hover: #2c2e36;
  --color-menu-background-active: hsl(220, 15%, 15%);
  --color-menu-background-focus: hsl(220, 15%, 15%);
  --color-menu-background-disabled: hsl(220, 15%, 15%);
  --color-menu-text-hover: #969696;
  --color-menu-text-active: #8a8a8a;
  --color-menu-text-focus: #8a8a8a;
  --color-menu-text-disabled: #8a8a8a;
  --color-menu-border-hover: #484848;
  --color-menu-border-active: #404040;
  --color-menu-border-focus: #404040;
  --color-menu-border-disabled: #404040;
  --color-menu-icon-hover: #a3a3a3;
  --color-menu-icon-active: #a6a6a6;
  --color-menu-icon-focus: #a6a6a6;
  --color-menu-icon-disabled: #a6a6a6;
  --color-menu-icon-soft20: #8b8c8e;
  --color-menu-shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.105);
  --color-menu-shadow-hard: 0 2px 8px rgba(0, 0, 0, 0.195);
  --color-menu-link-visited-hover: #a3a3a3;
  --color-menu-link-visited-active: #a6a6a6;
  --color-menu-link-visited-focus: #a6a6a6;

  --color-overlay-background: rgba(0, 0, 0, 0.85);
  --color-overlay-text: #7b7b7b;
  --color-overlay-border: transparent;

  --color-overlayDark-background: rgba(0, 0, 0, 0.8);
  --color-overlayDark-text: #ffffff;
  --color-overlayDark-border: transparent;

  /* Special tokens */
  --color-selection-background: #404040;
  --color-selection-text: #e6e6e6;
  --focus-ring-color: #a6a6a6;
  --focus-ring-offset: 2px;
  --color-overlay-background: rgba(0, 0, 0, 0.85);
  --color-backdrop-background: rgba(0, 0, 0, 0.8);
}