/* Generated theme: Spring (dark mode) */
/* Generated: 2025-08-01T13:24:52.984Z */
/* WCAG AA compliant */

@import '../styles.css';

[data-theme="spring"][data-theme-type="dark"] {
  /* Surface tokens */
  --color-body-background: hsl(220, 15%, 6%);
  --color-body-text: #7c7c7c;
  --color-body-border: #404040;
  --color-body-link: #e16ba6;
  --color-body-icon: #a6a6a6;
  --color-body-link-visited: #e16ba6;
  --color-body-text-soft10: #717171;
  --color-body-background-soft10: #181b21;
  --color-body-border-soft10: #3b3b3b;
  --color-body-text-soft20: #666667;
  --color-body-background-soft20: #22272f;
  --color-body-border-soft20: #363637;
  --color-body-text-soft30: #818183;
  --color-body-background-soft30: #2d343e;
  --color-body-border-soft30: #313132;
  --color-body-text-soft40: #838386;
  --color-body-background-soft40: #38404d;
  --color-body-border-soft40: #2c2c2e;
  --color-body-text-hard10: #8a8a8a;
  --color-body-background-hard10: #020203;
  --color-body-border-hard10: #4d4d4d;
  --color-body-text-hard20: #969696;
  --color-body-background-hard20: #000000;
  --color-body-border-hard20: #595959;
  --color-body-link-hover: #e378ad;
  --color-body-link-active: #e580b3;
  --color-body-link-focus: #e16ba6;
  --color-body-link-disabled: rgba(225, 107, 166, 0.5);
  --color-body-background-hover: #13161b;
  --color-body-background-active: #171b21;
  --color-body-background-focus: hsl(220, 15%, 6%);
  --color-body-background-disabled: rgba(13, 15, 18, 0.5);
  --color-body-text-hover: #7f7f7f;
  --color-body-text-active: #818181;
  --color-body-text-focus: #7c7c7c;
  --color-body-text-disabled: rgba(124, 124, 124, 0.5);
  --color-body-border-hover: #404040;
  --color-body-border-active: #404040;
  --color-body-border-focus: #404040;
  --color-body-border-disabled: rgba(64, 64, 64, 0.5);
  --color-body-icon-hover: #a6a6a6;
  --color-body-icon-active: #a6a6a6;
  --color-body-icon-focus: #a6a6a6;
  --color-body-icon-disabled: rgba(166, 166, 166, 0.5);
  --color-body-icon-soft20: #878888;
  --color-body-link-visited-hover: #e378ad;
  --color-body-link-visited-active: #e580b3;
  --color-body-link-visited-focus: #e16ba6;

  --color-panel-background: hsl(0, 0%, 0%);
  --color-panel-text: #7c7c7c;
  --color-panel-border: #404040;
  --color-panel-link: #e16ba6;
  --color-panel-icon: #a6a6a6;
  --color-panel-link-visited: #e16ba6;
  --color-panel-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  --color-panel-text-soft10: #707070;
  --color-panel-background-soft10: #0d0d0d;
  --color-panel-border-soft10: #3a3a3a;
  --color-panel-text-soft20: #636363;
  --color-panel-background-soft20: #1a1a1a;
  --color-panel-border-soft20: #333333;
  --color-panel-text-soft30: #7d7d7d;
  --color-panel-background-soft30: #262626;
  --color-panel-border-soft30: #2d2d2d;
  --color-panel-text-soft40: #7d7d7d;
  --color-panel-background-soft40: #333333;
  --color-panel-border-soft40: #262626;
  --color-panel-text-hard10: #8a8a8a;
  --color-panel-background-hard10: #000000;
  --color-panel-border-hard10: #4d4d4d;
  --color-panel-text-hard20: #969696;
  --color-panel-background-hard20: #000000;
  --color-panel-border-hard20: #595959;
  --color-panel-icon-hover: #a6a6a6;
  --color-panel-icon-active: #a6a6a6;
  --color-panel-icon-focus: #a6a6a6;
  --color-panel-icon-disabled: #535353;
  --color-panel-icon-soft20: #858585;
  --color-panel-shadow-soft: 0 1px 3px rgba(0, 0, 0, 0.08399999999999999);
  --color-panel-shadow-hard: 0 1px 3px rgba(0, 0, 0, 0.156);

  --color-panelRaised-background: hsl(220, 15%, 8%);
  --color-panelRaised-text: #7e7e7e;
  --color-panelRaised-border: #404040;
  --color-panelRaised-link: #e16ba6;
  --color-panelRaised-icon: #a6a6a6;
  --color-panelRaised-link-visited: #e16ba6;
  --color-panelRaised-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
  --color-panelRaised-icon-hover: #a6a6a6;
  --color-panelRaised-icon-active: #a6a6a6;
  --color-panelRaised-icon-focus: #a6a6a6;
  --color-panelRaised-icon-disabled: #5c5d5f;
  --color-panelRaised-icon-soft20: #888989;
  --color-panelRaised-shadow-soft: 0 2px 4px rgba(0, 0, 0, 0.06999999999999999);
  --color-panelRaised-shadow-hard: 0 2px 4px rgba(0, 0, 0, 0.13);

  --color-panelElevated-background: hsl(220, 15%, 11%);
  --color-panelElevated-text: #818181;
  --color-panelElevated-border: #595959;
  --color-panelElevated-link: #e16ba6;
  --color-panelElevated-icon: #a6a6a6;
  --color-panelElevated-link-visited: #e16ba6;
  --color-panelElevated-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
  --color-panelElevated-icon-hover: #a6a6a6;
  --color-panelElevated-icon-active: #a6a6a6;
  --color-panelElevated-icon-focus: #a6a6a6;
  --color-panelElevated-icon-disabled: #5f6163;
  --color-panelElevated-icon-soft20: #8a8a8b;
  --color-panelElevated-shadow-soft: 0 3px 6px rgba(0, 0, 0, 0.08399999999999999);
  --color-panelElevated-shadow-hard: 0 3px 6px rgba(0, 0, 0, 0.156);

  --color-panelFloating-background: hsl(220, 15%, 15%);
  --color-panelFloating-text: #898989;
  --color-panelFloating-border: #737373;
  --color-panelFloating-link: #e16ba6;
  --color-panelFloating-icon: #a6a6a6;
  --color-panelFloating-link-visited: #e16ba6;
  --color-panelFloating-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  --color-panelFloating-icon-hover: #a6a6a6;
  --color-panelFloating-icon-active: #a6a6a6;
  --color-panelFloating-icon-focus: #a6a6a6;
  --color-panelFloating-icon-disabled: #646569;
  --color-panelFloating-icon-soft20: #8b8c8e;
  --color-panelFloating-shadow-soft: 0 4px 8px rgba(0, 0, 0, 0.105);
  --color-panelFloating-shadow-hard: 0 4px 8px rgba(0, 0, 0, 0.195);

  --color-buttonPrimary-background: #be2773;
  --color-buttonPrimary-text: #ffffff;
  --color-buttonPrimary-border: transparent;
  --color-buttonPrimary-icon: #ffffff;
  --color-buttonPrimary-background-hover: #941e59;
  --color-buttonPrimary-background-active: #7f1a4d;
  --color-buttonPrimary-background-focus: #be2773;
  --color-buttonPrimary-background-disabled: rgba(190, 39, 115, 0.6);
  --color-buttonPrimary-text-hover: #e6e6e6;
  --color-buttonPrimary-text-active: #d9d9d9;
  --color-buttonPrimary-text-focus: #ffffff;
  --color-buttonPrimary-text-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonPrimary-border-hover: transparent;
  --color-buttonPrimary-border-active: transparent;
  --color-buttonPrimary-border-focus: transparent;
  --color-buttonPrimary-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonPrimary-icon-hover: #e6e6e6;
  --color-buttonPrimary-icon-active: #d9d9d9;
  --color-buttonPrimary-icon-focus: #ffffff;
  --color-buttonPrimary-icon-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonPrimary-icon-soft20: #f2d4e3;

  --color-buttonSecondary-background: transparent;
  --color-buttonSecondary-text: #be2773;
  --color-buttonSecondary-border: #be2773;
  --color-buttonSecondary-icon: #be2773;
  --color-buttonSecondary-background-hover: rgba(190, 39, 115, 0.1);
  --color-buttonSecondary-background-active: rgba(190, 39, 115, 0.1);
  --color-buttonSecondary-background-focus: transparent;
  --color-buttonSecondary-background-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSecondary-text-hover: #f8ddea;
  --color-buttonSecondary-text-active: #f8ddea;
  --color-buttonSecondary-text-focus: #be2773;
  --color-buttonSecondary-text-disabled: #d53183;
  --color-buttonSecondary-border-hover: #be2773;
  --color-buttonSecondary-border-active: #be2773;
  --color-buttonSecondary-border-focus: #be2773;
  --color-buttonSecondary-border-disabled: rgba(190, 39, 115, 0.6);
  --color-buttonSecondary-icon-hover: #be2773;
  --color-buttonSecondary-icon-active: #be2773;
  --color-buttonSecondary-icon-focus: #be2773;
  --color-buttonSecondary-icon-disabled: rgba(190, 39, 115, 0.6);
  --color-buttonSecondary-icon-soft20: rgba(190, 39, 115, 0.8);

  --color-buttonNeutral-background: #404040;
  --color-buttonNeutral-text: #aaaaaa;
  --color-buttonNeutral-border: #737373;
  --color-buttonNeutral-icon: #aaaaaa;
  --color-buttonNeutral-background-hover: #4d4d4d;
  --color-buttonNeutral-background-active: #595959;
  --color-buttonNeutral-background-focus: #404040;
  --color-buttonNeutral-background-disabled: rgba(64, 64, 64, 0.6);
  --color-buttonNeutral-text-hover: #bbbbbb;
  --color-buttonNeutral-text-active: #cfcfcf;
  --color-buttonNeutral-text-focus: #aaaaaa;
  --color-buttonNeutral-text-disabled: #acacac;
  --color-buttonNeutral-border-hover: #737373;
  --color-buttonNeutral-border-active: #737373;
  --color-buttonNeutral-border-focus: #737373;
  --color-buttonNeutral-border-disabled: rgba(115, 115, 115, 0.6);
  --color-buttonNeutral-icon-hover: #ababab;
  --color-buttonNeutral-icon-active: #ababab;
  --color-buttonNeutral-icon-focus: #aaaaaa;
  --color-buttonNeutral-icon-disabled: rgba(170, 170, 170, 0.6);
  --color-buttonNeutral-icon-soft20: #959595;

  --color-buttonDanger-background: #c22424;
  --color-buttonDanger-text: #ffffff;
  --color-buttonDanger-border: transparent;
  --color-buttonDanger-icon: #ffffff;
  --color-buttonDanger-background-hover: #971c1c;
  --color-buttonDanger-background-active: #811818;
  --color-buttonDanger-background-focus: #c22424;
  --color-buttonDanger-background-disabled: rgba(194, 36, 36, 0.6);
  --color-buttonDanger-text-hover: #e6e6e6;
  --color-buttonDanger-text-active: #d9d9d9;
  --color-buttonDanger-text-focus: #ffffff;
  --color-buttonDanger-text-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonDanger-border-hover: transparent;
  --color-buttonDanger-border-active: transparent;
  --color-buttonDanger-border-focus: transparent;
  --color-buttonDanger-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonDanger-icon-hover: #e6e6e6;
  --color-buttonDanger-icon-active: #d9d9d9;
  --color-buttonDanger-icon-focus: #ffffff;
  --color-buttonDanger-icon-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonDanger-icon-soft20: #f3d3d3;

  --color-buttonSuccess-background: #24c28d;
  --color-buttonSuccess-text: #ffffff;
  --color-buttonSuccess-border: transparent;
  --color-buttonSuccess-icon: #ffffff;
  --color-buttonSuccess-background-hover: #1c976e;
  --color-buttonSuccess-background-active: #18815e;
  --color-buttonSuccess-background-focus: #24c28d;
  --color-buttonSuccess-background-disabled: rgba(36, 194, 141, 0.6);
  --color-buttonSuccess-text-hover: #e6e6e6;
  --color-buttonSuccess-text-active: #f9f9f9;
  --color-buttonSuccess-text-focus: #ffffff;
  --color-buttonSuccess-text-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonSuccess-border-hover: transparent;
  --color-buttonSuccess-border-active: transparent;
  --color-buttonSuccess-border-focus: transparent;
  --color-buttonSuccess-border-disabled: rgba(0, 0, 0, 0.6);
  --color-buttonSuccess-icon-hover: #e6e6e6;
  --color-buttonSuccess-icon-active: #d9d9d9;
  --color-buttonSuccess-icon-focus: #ffffff;
  --color-buttonSuccess-icon-disabled: rgba(255, 255, 255, 0.6);
  --color-buttonSuccess-icon-soft20: #d3f3e8;

  --color-input-background: hsl(0, 0%, 0%);
  --color-input-text: #7c7c7c;
  --color-input-border: #595959;
  --color-input-icon: #8c8c8c;
  --color-input-shadow: 0 0 0 3px transparent;
  --color-input-background-hover: #050505;
  --color-input-background-active: hsl(0, 0%, 0%);
  --color-input-background-focus: #2b0d1c;
  --color-input-background-disabled: rgba(0, 0, 0, 0.6);
  --color-input-text-hover: #7d7d7d;
  --color-input-text-active: #7c7c7c;
  --color-input-text-focus: #967987;
  --color-input-text-disabled: rgba(124, 124, 124, 0.6);
  --color-input-border-hover: #595959;
  --color-input-border-active: #595959;
  --color-input-border-focus: #e16ba6;
  --color-input-border-disabled: rgba(89, 89, 89, 0.6);
  --color-input-icon-hover: #8c8c8c;
  --color-input-icon-active: #8c8c8c;
  --color-input-icon-focus: #9b7d8c;
  --color-input-icon-disabled: rgba(140, 140, 140, 0.6);
  --color-input-icon-soft20: #707070;
  --color-input-shadow-soft: 0 0 0 3px transparent;
  --color-input-shadow-hard: 0 0 0 3px transparent;

  --color-noticeInfo-background: #0f151e;
  --color-noticeInfo-text: #c9d5e8;
  --color-noticeInfo-border: #15499d;
  --color-noticeInfo-icon: #6296ea;
  --color-noticeInfo-icon-hover: #6296ea;
  --color-noticeInfo-icon-active: #6296ea;
  --color-noticeInfo-icon-focus: #6296ea;
  --color-noticeInfo-icon-disabled: #395684;
  --color-noticeInfo-icon-soft20: #517cc1;

  --color-noticeSuccess-background: #101b1a;
  --color-noticeSuccess-text: #cbe6dd;
  --color-noticeSuccess-border: #1c976e;
  --color-noticeSuccess-icon: #68e3ba;
  --color-noticeSuccess-icon-hover: #68e3ba;
  --color-noticeSuccess-icon-active: #68e3ba;
  --color-noticeSuccess-icon-focus: #68e3ba;
  --color-noticeSuccess-icon-disabled: #3c7f6a;
  --color-noticeSuccess-icon-soft20: #56bb9a;

  --color-noticeWarning-background: #1a1713;
  --color-noticeWarning-text: #e8dcc9;
  --color-noticeWarning-border: #9e6c15;
  --color-noticeWarning-icon: #eab861;
  --color-noticeWarning-icon-hover: #eab861;
  --color-noticeWarning-icon-active: #eab861;
  --color-noticeWarning-icon-focus: #eab861;
  --color-noticeWarning-icon-disabled: #82683a;
  --color-noticeWarning-icon-soft20: #c09851;

  --color-noticeDanger-background: #1a1113;
  --color-noticeDanger-text: #e6cbcb;
  --color-noticeDanger-border: #971c1c;
  --color-noticeDanger-icon: #e36868;
  --color-noticeDanger-icon-hover: #e36868;
  --color-noticeDanger-icon-active: #e36868;
  --color-noticeDanger-icon-focus: #e36868;
  --color-noticeDanger-icon-disabled: #7f3d3e;
  --color-noticeDanger-icon-soft20: #bb5757;

  --color-codeBlock-background: #262626;
  --color-codeBlock-text: #8d8d8d;
  --color-codeBlock-border: #404040;
  --color-codeBlock-text-soft10: #838383;
  --color-codeBlock-background-soft10: #333333;
  --color-codeBlock-border-soft10: #3d3d3d;
  --color-codeBlock-text-soft20: #787878;
  --color-codeBlock-background-soft20: #404040;
  --color-codeBlock-border-soft20: #3b3b3b;

  --color-codeInline-background: #1d0c14;
  --color-codeInline-text: #d4aabf;
  --color-codeInline-border: #6a1640;

  --color-dialog-background: hsl(0, 0%, 0%);
  --color-dialog-text: #7c7c7c;
  --color-dialog-border: #404040;
  --color-dialog-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  --color-dialog-shadow-soft: 0 8px 32px rgba(0, 0, 0, 0.105);
  --color-dialog-shadow-hard: 0 8px 32px rgba(0, 0, 0, 0.195);

  --color-modal-background: hsl(0, 0%, 0%);
  --color-modal-text: #7c7c7c;
  --color-modal-border: #404040;
  --color-modal-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  --color-modal-shadow-soft: 0 20px 60px rgba(0, 0, 0, 0.21);
  --color-modal-shadow-hard: 0 20px 60px rgba(0, 0, 0, 0.39);

  --color-tooltip-background: #d9d9d9;
  --color-tooltip-text: #5f5f5f;
  --color-tooltip-border: transparent;
  --color-tooltip-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  --color-tooltip-text-soft10: #6b6b6b;
  --color-tooltip-background-soft10: #e6e6e6;
  --color-tooltip-border-soft10: rgba(217, 217, 217, 0.1);
  --color-tooltip-text-soft20: #777777;
  --color-tooltip-background-soft20: #f2f2f2;
  --color-tooltip-border-soft20: rgba(217, 217, 217, 0.2);
  --color-tooltip-shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.13999999999999999);
  --color-tooltip-shadow-hard: 0 2px 8px rgba(0, 0, 0, 0.26);

  --color-menu-background: hsl(220, 15%, 15%);
  --color-menu-text: #898989;
  --color-menu-border: #404040;
  --color-menu-link: #e16ba6;
  --color-menu-icon: #a6a6a6;
  --color-menu-link-visited: #e16ba6;
  --color-menu-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  --color-menu-link-hover: #e067a3;
  --color-menu-link-active: #e16ba6;
  --color-menu-link-focus: #e16ba6;
  --color-menu-link-disabled: #e16ba6;
  --color-menu-background-hover: #332736;
  --color-menu-background-active: hsl(220, 15%, 15%);
  --color-menu-background-focus: hsl(220, 15%, 15%);
  --color-menu-background-disabled: hsl(220, 15%, 15%);
  --color-menu-text-hover: #9c8f95;
  --color-menu-text-active: #898989;
  --color-menu-text-focus: #898989;
  --color-menu-text-disabled: #898989;
  --color-menu-border-hover: #4f4048;
  --color-menu-border-active: #404040;
  --color-menu-border-focus: #404040;
  --color-menu-border-disabled: #404040;
  --color-menu-icon-hover: #ab9ca3;
  --color-menu-icon-active: #a6a6a6;
  --color-menu-icon-focus: #a6a6a6;
  --color-menu-icon-disabled: #a6a6a6;
  --color-menu-icon-soft20: #8b8c8e;
  --color-menu-shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.105);
  --color-menu-shadow-hard: 0 2px 8px rgba(0, 0, 0, 0.195);
  --color-menu-link-visited-hover: #e067a3;
  --color-menu-link-visited-active: #e16ba6;
  --color-menu-link-visited-focus: #e16ba6;

  --color-overlay-background: rgba(0, 0, 0, 0.85);
  --color-overlay-text: #7c7c7c;
  --color-overlay-border: transparent;

  --color-overlayDark-background: rgba(0, 0, 0, 0.8);
  --color-overlayDark-text: #ffffff;
  --color-overlayDark-border: transparent;

  /* Special tokens */
  --color-selection-background: #6a1640;
  --color-selection-text: #eedde6;
  --focus-ring-color: #e16ba6;
  --focus-ring-offset: 2px;
  --color-overlay-background: rgba(0, 0, 0, 0.85);
  --color-backdrop-background: rgba(0, 0, 0, 0.8);
}