.resizeBar {
  position: relative;
  width: 5px;
  height: 100%;
  background: transparent;
  border-left: 1px solid var(--color-panel-border);
  border-right: 1px solid var(--color-panel-border);
  transition: background var(--duration-fast), border-color var(--duration-fast);
  user-select: none;
  cursor: col-resize;
  flex-shrink: 0;
}

.resizeBar:hover,
.resizeBar.resizing {
  background: var(--color-panel-border);
}
