/* Generated theme: Midnight (dark mode) */
/* Generated: 2025-08-16T13:35:28.130Z */
/* WCAG AA compliant */

@import '../styles.css';

[data-theme="midnight"][data-theme-type="dark"] {
  /* Surface tokens */
  --color-body-background: hsl(220, 15%, 12%);
  --color-body-text: #d0d0d0;
  --color-body-border: #404040;
  --color-body-link: #827bd1;
  --color-body-icon: #a6a6a6;
  --color-body-linkVisited: #827bd1;
  --color-body-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --color-body-textSuccess: #2db960;
  --color-body-textWarning: #d18c15;
  --color-body-textDanger: #ffffff;
  --color-body-outline: #827bd1;
  --color-body-textSoft10: #bebebf;
  --color-body-backgroundSoft10: #14161a;
  --color-body-borderSoft10: #3c3d3d;
  --color-body-iconSoft10: #989899;
  --color-body-textSoft20: #acacad;
  --color-body-backgroundSoft20: #0d0f12;
  --color-body-borderSoft20: #38393a;
  --color-body-iconSoft20: #8a8b8c;
  --color-body-textHard10: #e6e6e6;
  --color-body-backgroundHard10: #252932;
  --color-body-borderHard10: #545454;
  --color-body-iconHard10: #bababa;
  --color-body-textHard20: #fafafa;
  --color-body-backgroundHard20: #303541;
  --color-body-borderHard20: #696969;
  --color-body-iconHard20: #cfcfcf;
  --color-body-link-hover: #8d86d5;
  --color-body-link-active: #948ed7;
  --color-body-link-focus: #827bd1;
  --color-body-link-disabled: rgba(130, 123, 209, 0.5);
  --color-body-background-hover: #4d4d4d;
  --color-body-background-active: #666666;
  --color-body-background-focus: hsl(220, 15%, 12%);
  --color-body-background-disabled: rgba(26, 29, 35, 0.5);
  --color-body-text-hover: #d0d0d0;
  --color-body-text-active: #d0d0d0;
  --color-body-text-focus: #d0d0d0;
  --color-body-text-disabled: rgba(208, 208, 208, 0.5);
  --color-body-border-hover: #404040;
  --color-body-border-active: #404040;
  --color-body-border-focus: #404040;
  --color-body-border-disabled: rgba(64, 64, 64, 0.5);
  --color-body-icon-hover: #a6a6a6;
  --color-body-icon-active: #a6a6a6;
  --color-body-icon-focus: #a6a6a6;
  --color-body-icon-disabled: rgba(166, 166, 166, 0.5);
  --color-body-shadowSoft: 0 1px 3px rgba(0, 0, 0, 0.06);
  --color-body-shadowHard: 0 1px 3px rgba(0, 0, 0, 0.15000000000000002);
  --color-body-linkVisited-hover: #8d86d5;
  --color-body-linkVisited-active: #948ed7;
  --color-body-linkVisited-focus: #827bd1;

  --color-panel-background: hsl(220, 15%, 9%);
  --color-panel-text: #d0d0d0;
  --color-panel-border: #404040;
  --color-panel-link: #827bd1;
  --color-panel-icon: #a6a6a6;
  --color-panel-linkVisited: #827bd1;
  --color-panel-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  --color-panel-outline: #827bd1;
  --color-panel-textSoft10: #bdbdbe;
  --color-panel-backgroundSoft10: #0d0f11;
  --color-panel-borderSoft10: #3c3c3c;
  --color-panel-iconSoft10: #979898;
  --color-panel-textSoft20: #aaabac;
  --color-panel-backgroundSoft20: #070709;
  --color-panel-borderSoft20: #373838;
  --color-panel-iconSoft20: #89898a;
  --color-panel-textHard10: #e6e6e6;
  --color-panel-backgroundHard10: #1f2228;
  --color-panel-borderHard10: #545454;
  --color-panel-iconHard10: #bababa;
  --color-panel-textHard20: #fafafa;
  --color-panel-backgroundHard20: #2a2e37;
  --color-panel-borderHard20: #696969;
  --color-panel-iconHard20: #cfcfcf;
  --color-panel-icon-hover: #a6a6a6;
  --color-panel-icon-active: #a6a6a6;
  --color-panel-icon-focus: #a6a6a6;
  --color-panel-icon-disabled: #5d5e60;
  --color-panel-shadowSoft: 0 1px 3px rgba(0, 0, 0, 0.072);
  --color-panel-shadowHard: 0 1px 3px rgba(0, 0, 0, 0.18);

  --color-primary-background: #453caa;
  --color-primary-text: #f0f0f0;
  --color-primary-border: transparent;
  --color-primary-icon: #f0f0f0;
  --color-primary-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  --color-primary-outline: #9892d9;
  --color-primary-textSoft10: #dfdee9;
  --color-primary-backgroundSoft10: #40389f;
  --color-primary-iconSoft10: #dfdee9;
  --color-primary-textSoft20: #cecce2;
  --color-primary-backgroundSoft20: #3c3493;
  --color-primary-iconSoft20: #cecce2;
  --color-primary-textHard10: #ffffff;
  --color-primary-backgroundHard10: #4c42bd;
  --color-primary-iconHard10: #ffffff;
  --color-primary-textHard20: #ffffff;
  --color-primary-backgroundHard20: #5e55c3;
  --color-primary-iconHard20: #ffffff;
  --color-primary-background-hover: #5e55c3;
  --color-primary-background-active: #948ed7;
  --color-primary-background-focus: #453caa;
  --color-primary-background-disabled: rgba(69, 60, 170, 0.6);
  --color-primary-text-hover: #f0f0f0;
  --color-primary-text-active: #f0f0f0;
  --color-primary-text-focus: #f0f0f0;
  --color-primary-text-disabled: rgba(240, 240, 240, 0.6);
  --color-primary-border-hover: transparent;
  --color-primary-border-active: transparent;
  --color-primary-border-focus: transparent;
  --color-primary-border-disabled: rgba(0, 0, 0, 0.6);
  --color-primary-icon-hover: #d6d6d6;
  --color-primary-icon-active: #c9c9c9;
  --color-primary-icon-focus: #f0f0f0;
  --color-primary-icon-disabled: rgba(240, 240, 240, 0.6);
  --color-primary-shadowSoft: 0 2px 4px rgba(0, 0, 0, 0.09);
  --color-primary-shadowHard: 0 2px 4px rgba(0, 0, 0, 0.22499999999999998);

  --color-neutral-background: #404040;
  --color-neutral-text: #d0d0d0;
  --color-neutral-border: #737373;
  --color-neutral-icon: #d0d0d0;
  --color-neutral-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  --color-neutral-outline: #8881d3;
  --color-neutral-textSoft10: #c2c2c2;
  --color-neutral-backgroundSoft10: #383838;
  --color-neutral-borderSoft10: #6e6e6e;
  --color-neutral-iconSoft10: #c2c2c2;
  --color-neutral-textSoft20: #b3b3b3;
  --color-neutral-backgroundSoft20: #303030;
  --color-neutral-borderSoft20: #696969;
  --color-neutral-iconSoft20: #b3b3b3;
  --color-neutral-textHard10: #e6e6e6;
  --color-neutral-backgroundHard10: #4d4d4d;
  --color-neutral-borderHard10: #878787;
  --color-neutral-iconHard10: #e6e6e6;
  --color-neutral-textHard20: #fafafa;
  --color-neutral-backgroundHard20: #595959;
  --color-neutral-borderHard20: #9c9c9c;
  --color-neutral-iconHard20: #fafafa;
  --color-neutral-background-hover: #4d4d4d;
  --color-neutral-background-active: #666666;
  --color-neutral-background-focus: #404040;
  --color-neutral-background-disabled: rgba(64, 64, 64, 0.6);
  --color-neutral-text-hover: #d0d0d0;
  --color-neutral-text-active: #d0d0d0;
  --color-neutral-text-focus: #d0d0d0;
  --color-neutral-text-disabled: rgba(208, 208, 208, 0.6);
  --color-neutral-border-hover: #737373;
  --color-neutral-border-active: #737373;
  --color-neutral-border-focus: #737373;
  --color-neutral-border-disabled: rgba(115, 115, 115, 0.6);
  --color-neutral-icon-hover: #d1d1d1;
  --color-neutral-icon-active: #d1d1d1;
  --color-neutral-icon-focus: #d0d0d0;
  --color-neutral-icon-disabled: rgba(208, 208, 208, 0.6);
  --color-neutral-shadowSoft: 0 1px 3px rgba(0, 0, 0, 0.072);
  --color-neutral-shadowHard: 0 1px 3px rgba(0, 0, 0, 0.18);

  --color-danger-background: #c81e1e;
  --color-danger-text: #f0f0f0;
  --color-danger-border: transparent;
  --color-danger-icon: #f0f0f0;
  --color-danger-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  --color-danger-outline: #f2a9a9;
  --color-danger-textSoft10: #ecdbdb;
  --color-danger-backgroundSoft10: #ba1c1c;
  --color-danger-iconSoft10: #ecdbdb;
  --color-danger-textSoft20: #e8c6c6;
  --color-danger-backgroundSoft20: #ad1a1a;
  --color-danger-iconSoft20: #e8c6c6;
  --color-danger-textHard10: #ffffff;
  --color-danger-backgroundHard10: #de2121;
  --color-danger-iconHard10: #ffffff;
  --color-danger-textHard20: #ffffff;
  --color-danger-backgroundHard20: #e13737;
  --color-danger-iconHard20: #ffffff;
  --color-danger-background-hover: #e13737;
  --color-danger-background-active: #eb7a7a;
  --color-danger-background-focus: #c81e1e;
  --color-danger-background-disabled: rgba(200, 30, 30, 0.6);
  --color-danger-text-hover: #f0f0f0;
  --color-danger-text-active: #f0f0f0;
  --color-danger-text-focus: #f0f0f0;
  --color-danger-text-disabled: rgba(240, 240, 240, 0.6);
  --color-danger-border-hover: transparent;
  --color-danger-border-active: transparent;
  --color-danger-border-focus: transparent;
  --color-danger-border-disabled: rgba(0, 0, 0, 0.6);
  --color-danger-icon-hover: #d6d6d6;
  --color-danger-icon-active: #c9c9c9;
  --color-danger-icon-focus: #f0f0f0;
  --color-danger-icon-disabled: rgba(240, 240, 240, 0.6);
  --color-danger-shadowSoft: 0 2px 4px rgba(0, 0, 0, 0.09);
  --color-danger-shadowHard: 0 2px 4px rgba(0, 0, 0, 0.22499999999999998);

  --color-success-background: #2db960;
  --color-success-text: #535353;
  --color-success-border: transparent;
  --color-success-icon: #535353;
  --color-success-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  --color-success-outline: #000000;
  --color-success-textSoft10: #4f5d54;
  --color-success-backgroundSoft10: #2aac5a;
  --color-success-iconSoft10: #4f5d54;
  --color-success-textSoft20: #4b6756;
  --color-success-backgroundSoft20: #27a053;
  --color-success-iconSoft20: #4b6756;
  --color-success-textHard10: #696969;
  --color-success-backgroundHard10: #32cd6b;
  --color-success-iconHard10: #696969;
  --color-success-textHard20: #7d7d7d;
  --color-success-backgroundHard20: #46d27a;
  --color-success-iconHard20: #7d7d7d;
  --color-success-background-hover: #46d27a;
  --color-success-background-active: #84e1a6;
  --color-success-background-focus: #2db960;
  --color-success-background-disabled: rgba(45, 185, 96, 0.6);
  --color-success-text-hover: #535353;
  --color-success-text-active: #535353;
  --color-success-text-focus: #535353;
  --color-success-text-disabled: #000000;
  --color-success-border-hover: transparent;
  --color-success-border-active: transparent;
  --color-success-border-focus: transparent;
  --color-success-border-disabled: rgba(0, 0, 0, 0.6);
  --color-success-icon-hover: #3b3b3b;
  --color-success-icon-active: #2e2e2e;
  --color-success-icon-focus: #535353;
  --color-success-icon-disabled: rgba(83, 83, 83, 0.6);
  --color-success-shadowSoft: 0 2px 4px rgba(0, 0, 0, 0.09);
  --color-success-shadowHard: 0 2px 4px rgba(0, 0, 0, 0.22499999999999998);

  --color-warning-background: #d18c15;
  --color-warning-text: #000000;
  --color-warning-border: transparent;
  --color-warning-icon: #000000;
  --color-warning-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  --color-warning-outline: #000000;
  --color-warning-textSoft10: #150e02;
  --color-warning-backgroundSoft10: #c38313;
  --color-warning-iconSoft10: #150e02;
  --color-warning-textSoft20: #2a1c04;
  --color-warning-backgroundSoft20: #b57912;
  --color-warning-iconSoft20: #2a1c04;
  --color-warning-textHard10: #000000;
  --color-warning-backgroundHard10: #e89b17;
  --color-warning-iconHard10: #000000;
  --color-warning-textHard20: #000000;
  --color-warning-backgroundHard20: #eaa52e;
  --color-warning-iconHard20: #000000;
  --color-warning-background-hover: #eaa52e;
  --color-warning-background-active: #f1c374;
  --color-warning-background-focus: #d18c15;
  --color-warning-background-disabled: rgba(209, 140, 21, 0.6);
  --color-warning-text-hover: #000000;
  --color-warning-text-active: #000000;
  --color-warning-text-focus: #000000;
  --color-warning-text-disabled: rgba(0, 0, 0, 0.6);
  --color-warning-border-hover: transparent;
  --color-warning-border-active: transparent;
  --color-warning-border-focus: transparent;
  --color-warning-border-disabled: rgba(0, 0, 0, 0.6);
  --color-warning-icon-hover: #000000;
  --color-warning-icon-active: #000000;
  --color-warning-icon-focus: #000000;
  --color-warning-icon-disabled: rgba(0, 0, 0, 0.6);
  --color-warning-shadowSoft: 0 2px 4px rgba(0, 0, 0, 0.09);
  --color-warning-shadowHard: 0 2px 4px rgba(0, 0, 0, 0.22499999999999998);

  --color-input-background: hsl(220, 15%, 9%);
  --color-input-text: #d0d0d0;
  --color-input-border: #595959;
  --color-input-icon: #8c8c8c;
  --color-input-shadow: 0 0 0 3px transparent;
  --color-input-outline: #827bd1;
  --color-input-textSoft10: #bdbdbe;
  --color-input-backgroundSoft10: #0d0f11;
  --color-input-borderSoft10: #525253;
  --color-input-iconSoft10: #808081;
  --color-input-textSoft20: #aaabac;
  --color-input-backgroundSoft20: #070709;
  --color-input-borderSoft20: #4b4c4c;
  --color-input-iconSoft20: #747475;
  --color-input-textHard10: #e6e6e6;
  --color-input-backgroundHard10: #1f2228;
  --color-input-borderHard10: #6e6e6e;
  --color-input-iconHard10: #a1a1a1;
  --color-input-textHard20: #fafafa;
  --color-input-backgroundHard20: #2a2e37;
  --color-input-borderHard20: #828282;
  --color-input-iconHard20: #b5b5b5;
  --color-input-background-hover: #181b20;
  --color-input-background-active: hsl(220, 15%, 9%);
  --color-input-background-focus: #23233c;
  --color-input-background-disabled: rgba(20, 22, 26, 0.6);
  --color-input-text-hover: #d0d0d0;
  --color-input-text-active: #d0d0d0;
  --color-input-text-focus: #b9b7cd;
  --color-input-text-disabled: rgba(208, 208, 208, 0.6);
  --color-input-border-hover: #595959;
  --color-input-border-active: #595959;
  --color-input-border-focus: #827bd1;
  --color-input-border-disabled: rgba(89, 89, 89, 0.6);
  --color-input-icon-hover: #8c8c8c;
  --color-input-icon-active: #8c8c8c;
  --color-input-icon-focus: #838197;
  --color-input-icon-disabled: rgba(140, 140, 140, 0.6);
  --color-input-shadowSoft: 0 1px 2px rgba(0, 0, 0, 0.16);
  --color-input-shadowHard: 0 2px 6px rgba(0, 0, 0, 0.4);

  --color-infoSoft-background: #181e2a;
  --color-infoSoft-text: #a3b9dc;
  --color-infoSoft-border: #1148a2;
  --color-infoSoft-icon: #5d95ee;
  --color-infoSoft-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  --color-infoSoft-outline: #827bd1;
  --color-infoSoft-textSoft10: #95aaca;
  --color-infoSoft-backgroundSoft10: #131720;
  --color-infoSoft-borderSoft10: #124496;
  --color-infoSoft-iconSoft10: #5689da;
  --color-infoSoft-textSoft20: #879ab8;
  --color-infoSoft-backgroundSoft20: #0d1017;
  --color-infoSoft-borderSoft20: #12408a;
  --color-infoSoft-iconSoft20: #4f7dc7;
  --color-infoSoft-textHard10: #c0cfe7;
  --color-infoSoft-backgroundHard10: #222a3a;
  --color-infoSoft-borderHard10: #1559c6;
  --color-infoSoft-iconHard10: #82adf2;
  --color-infoSoft-textHard20: #dee6f2;
  --color-infoSoft-backgroundHard20: #2b354a;
  --color-infoSoft-borderHard20: #1d6ae7;
  --color-infoSoft-iconHard20: #a7c5f6;
  --color-infoSoft-icon-hover: #5d95ee;
  --color-infoSoft-icon-active: #5d95ee;
  --color-infoSoft-icon-focus: #5d95ee;
  --color-infoSoft-icon-disabled: #3b5a8c;
  --color-infoSoft-shadowSoft: 0 1px 3px rgba(0, 0, 0, 0.048);
  --color-infoSoft-shadowHard: 0 1px 3px rgba(0, 0, 0, 0.12);

  --color-successSoft-background: #192523;
  --color-successSoft-text: #aad4ba;
  --color-successSoft-border: #23904b;
  --color-successSoft-icon: #6fdc97;
  --color-successSoft-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  --color-successSoft-outline: #827bd1;
  --color-successSoft-textSoft10: #9cc3ab;
  --color-successSoft-backgroundSoft10: #131b1a;
  --color-successSoft-borderSoft10: #228547;
  --color-successSoft-iconSoft10: #66ca8b;
  --color-successSoft-textSoft20: #8db19c;
  --color-successSoft-backgroundSoft20: #0c1211;
  --color-successSoft-borderSoft20: #217b43;
  --color-successSoft-iconSoft20: #5eb780;
  --color-successSoft-textHard10: #c5e2d0;
  --color-successSoft-backgroundHard10: #233431;
  --color-successSoft-borderHard10: #2bb15c;
  --color-successSoft-iconHard10: #90e4af;
  --color-successSoft-textHard20: #e0f0e6;
  --color-successSoft-backgroundHard20: #2d433f;
  --color-successSoft-borderHard20: #36ce6e;
  --color-successSoft-iconHard20: #b1ecc7;
  --color-successSoft-icon-hover: #6fdc97;
  --color-successSoft-icon-active: #6fdc97;
  --color-successSoft-icon-focus: #6fdc97;
  --color-successSoft-icon-disabled: #44815d;
  --color-successSoft-shadowSoft: 0 1px 3px rgba(0, 0, 0, 0.048);
  --color-successSoft-shadowHard: 0 1px 3px rgba(0, 0, 0, 0.12);

  --color-warningSoft-background: #24221e;
  --color-warningSoft-text: #dcc8a3;
  --color-warningSoft-border: #a26d10;
  --color-warningSoft-icon: #efb95d;
  --color-warningSoft-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  --color-warningSoft-outline: #827bd1;
  --color-warningSoft-textSoft10: #cab796;
  --color-warningSoft-backgroundSoft10: #1c1a17;
  --color-warningSoft-borderSoft10: #956611;
  --color-warningSoft-iconSoft10: #dbaa57;
  --color-warningSoft-textSoft20: #b7a788;
  --color-warningSoft-backgroundSoft20: #131210;
  --color-warningSoft-borderSoft20: #895e13;
  --color-warningSoft-iconSoft20: #c69b50;
  --color-warningSoft-textHard10: #e7dac0;
  --color-warningSoft-backgroundHard10: #322f2a;
  --color-warningSoft-borderHard10: #c88614;
  --color-warningSoft-iconHard10: #f3c982;
  --color-warningSoft-textHard20: #f2ebde;
  --color-warningSoft-backgroundHard20: #403c35;
  --color-warningSoft-borderHard20: #e99d1c;
  --color-warningSoft-iconHard20: #f6d9a7;
  --color-warningSoft-icon-hover: #efb95d;
  --color-warningSoft-icon-active: #efb95d;
  --color-warningSoft-icon-focus: #efb95d;
  --color-warningSoft-icon-disabled: #8a6e3e;
  --color-warningSoft-shadowSoft: 0 1px 3px rgba(0, 0, 0, 0.048);
  --color-warningSoft-shadowHard: 0 1px 3px rgba(0, 0, 0, 0.12);

  --color-dangerSoft-background: #231a1f;
  --color-dangerSoft-text: #d9a6a6;
  --color-dangerSoft-border: #9b1717;
  --color-dangerSoft-icon: #e86464;
  --color-dangerSoft-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  --color-dangerSoft-outline: #827bd1;
  --color-dangerSoft-textSoft10: #c79899;
  --color-dangerSoft-backgroundSoft10: #1a1417;
  --color-dangerSoft-borderSoft10: #8f1718;
  --color-dangerSoft-iconSoft10: #d45d5d;
  --color-dangerSoft-textSoft20: #b58a8b;
  --color-dangerSoft-backgroundSoft20: #120d10;
  --color-dangerSoft-borderSoft20: #831819;
  --color-dangerSoft-iconSoft20: #c15556;
  --color-dangerSoft-textHard10: #e5c2c2;
  --color-dangerSoft-backgroundHard10: #32252c;
  --color-dangerSoft-borderHard10: #bf1d1d;
  --color-dangerSoft-iconHard10: #ed8787;
  --color-dangerSoft-textHard20: #f1dfdf;
  --color-dangerSoft-backgroundHard20: #413039;
  --color-dangerSoft-borderHard20: #df2626;
  --color-dangerSoft-iconHard20: #f2abab;
  --color-dangerSoft-icon-hover: #e86464;
  --color-dangerSoft-icon-active: #e86464;
  --color-dangerSoft-icon-focus: #e86464;
  --color-dangerSoft-icon-disabled: #863f42;
  --color-dangerSoft-shadowSoft: 0 1px 3px rgba(0, 0, 0, 0.048);
  --color-dangerSoft-shadowHard: 0 1px 3px rgba(0, 0, 0, 0.12);

  /* Gradient tokens */
  --gradient-body-primary: linear-gradient(135deg, color-mix(in srgb, #453caa 25%, transparent) 0%, transparent 50%);
  --gradient-body-success: linear-gradient(135deg, color-mix(in srgb, #2db960 20%, transparent) 0%, transparent 50%);
  --gradient-body-warning: linear-gradient(135deg, color-mix(in srgb, #d18c15 20%, transparent) 0%, transparent 60%);
  --gradient-body-danger: linear-gradient(135deg, color-mix(in srgb, #c81e1e 20%, transparent) 0%, transparent 60%);
  --gradient-body-info: linear-gradient(135deg, color-mix(in srgb, #165dd0 20%, transparent) 0%, transparent 50%);
  --gradient-body-accent: linear-gradient(135deg, color-mix(in srgb, #453caa 15%, transparent) 0%, color-mix(in srgb, #3556b1 10%, transparent) 50%, transparent 100%);

  /* Special tokens */
  --color-selection-background: #26215e;
  --color-selection-text: #e0e0eb;
  --focus-ring-color: #827bd1;
  --focus-ring-offset: 2px;
  --color-overlay-background: rgba(0, 0, 0, 0.85);
  --color-backdrop-background: rgba(0, 0, 0, 0.8);
}